<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Manager/Activity/ActivityImage/ac_btn_no_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,3},{248,92}}</string>
				<key>offset</key>
				<string>{-10,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,92}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/ac_btn_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,426},{268,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,92}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,698},{224,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,60}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/bg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,597},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,508},{71,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,72}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/btn3.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,597},{71,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,72}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/btn4.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,524},{64,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,71}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/btn5.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,675},{71,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,72}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/close_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,524},{64,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,65}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/dh_btn_no_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,166},{208,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,45}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/dh_btn_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,166},{208,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,45}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/dh_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,177},{355,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{355,42}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/dt_hz_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,300},{175,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,96}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/dt_hz_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,723},{50,52}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,54}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/dt_hz_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,3},{81,183}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,191}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/dt_hz_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,928},{125,80}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,82}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/dt_hz_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,242},{145,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,134}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/dt_hz_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,508},{123,119}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,123}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/dt_hz_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,149},{373,11}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{374,11}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/dt_hz_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,758},{149,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,47}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/dt_hz_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,368},{134,135}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,136}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/dt_hz_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,913},{119,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,95}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/dt_hz_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,3},{142,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,155}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/hdjs.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,597},{119,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,95}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/sd_ac_btn_no_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,597},{60,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,77}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/sd_ac_btn_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,928},{72,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,77}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/sd_lihe.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,928},{88,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,94}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/xiugai_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,376},{215,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{215,67}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/yd_ac_btn_no_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,663},{54,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,76}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/yd_ac_btn_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,928},{68,76}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,76}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/yd_denglong.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,243},{137,291}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,297}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/zj_btn_no_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,242},{208,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,45}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/zj_btn_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,928},{208,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,45}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/cj_ac_btn_no_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,90},{51,60}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,75}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/cj_ac_btn_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,524},{66,73}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,75}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,402},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,382},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/bg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,597},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/bg5.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,488},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/bg6.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,90},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/bg7.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,130},{164,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,34}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/bg8.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,3},{164,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,35}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/btn_tijiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,376},{185,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,76}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/title1.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,508},{184,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,56}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/tmp_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{184,234}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,234}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/zwks.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,597},{118,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,95}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/gg_hua.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,824},{84,69}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,70}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/gg_huaban1.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,217},{145,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,122}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/gg_huaban2.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,242},{128,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,149}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/gg_jixue.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,225},{651,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{651,11}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/gg_laoren.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,540},{166,195}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,195}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/gg_lingdang.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,524},{67,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,69}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/gg_nvhai.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,3},{168,162}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,163}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/gg_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,101},{355,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{355,42}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/gg_xiezi.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,928},{53,143}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,145}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/gg_zgj.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,928},{60,136}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,138}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/btn_duihuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,567},{185,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,76}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/btn_fangqi.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,633},{185,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,76}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/bg9.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,243},{164,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,177}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ac_plist.png</string>
			<key>realTextureFileName</key>
			<string>ac_plist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>