<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image2/room/game/btn_fuzhifanghao.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,196},{104,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,35}</string>
			</dict>
			<key>image2/room/game/btn_guize.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,113},{53,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,79}</string>
			</dict>
			<key>image2/room/game/btn_likaifangjian.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,2},{210,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,69}</string>
			</dict>
			<key>image2/room/game/btn_shezhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,113},{52,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,79}</string>
			</dict>
			<key>image2/room/game/btn_talk.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,320},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>image2/room/game/btn_tuichu.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,113},{52,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,79}</string>
			</dict>
			<key>image2/room/game/btn_yaoqinghaoyou.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,75},{210,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,69}</string>
			</dict>
			<key>image2/room/game/btn_yuyin.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,332},{35,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,52}</string>
			</dict>
			<key>image2/room/game/flag_fangzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,113},{53,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,41}</string>
			</dict>
			<key>image2/room/game/flag_ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,113},{100,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,123}</string>
			</dict>
			<key>image2/room/game/flag_zhuajia.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,359},{35,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,37}</string>
			</dict>
			<key>image2/room/game/btn_biaoqing_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,2},{232,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,46}</string>
			</dict>
			<key>image2/room/game/btn_biaoqing_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,238},{232,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,46}</string>
			</dict>
			<key>image2/room/game/btn_bugongyi.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,148},{210,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,69}</string>
			</dict>
			<key>image2/room/game/btn_fanhuidating.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,221},{210,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,69}</string>
			</dict>
			<key>image2/room/game/btn_gz.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,226},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>image2/room/game/btn_gz_sit.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,474},{210,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,69}</string>
			</dict>
			<key>image2/room/game/btn_gz_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,294},{210,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,69}</string>
			</dict>
			<key>image2/room/game/btn_jiesanfangj.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,367},{210,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,69}</string>
			</dict>
			<key>image2/room/game/btn_jixuyouxi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,710},{210,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,69}</string>
			</dict>
			<key>image2/room/game/btn_shenqingjiesan.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,924},{210,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,69}</string>
			</dict>
			<key>image2/room/game/btn_tongyi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,505},{210,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,69}</string>
			</dict>
			<key>image2/room/game/btn_tuichufangjian.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,578},{210,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,69}</string>
			</dict>
			<key>image2/room/game/btn_yuyin_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,474},{232,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,46}</string>
			</dict>
			<key>image2/room/game/btn_yuyin_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,651},{232,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,46}</string>
			</dict>
			<key>image2/room/game/btn_zhanjixuanyao.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,505},{210,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,69}</string>
			</dict>
			<key>image2/room/game/img_luyin.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{250,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,220}</string>
			</dict>
			<key>image2/room/game/img_luyin1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,116},{22,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,10}</string>
			</dict>
			<key>image2/room/game/img_luyin2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,84},{28,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,10}</string>
			</dict>
			<key>image2/room/game/img_luyin3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,46},{34,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,10}</string>
			</dict>
			<key>image2/room/game/img_luyin4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,2},{40,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,10}</string>
			</dict>
			<key>image2/room/game/img_shezi.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,270},{45,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,46}</string>
			</dict>
			<key>image2/room/game/slider_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,302},{280,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{280,26}</string>
			</dict>
			<key>image2/room/game/slider_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,240},{280,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{280,26}</string>
			</dict>
			<key>image2/room/game/title_jiesanfangjian.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,578},{174,48}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{259,63}</string>
			</dict>
			<key>image2/room/game/title_shezhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,310},{105,45}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{259,63}</string>
			</dict>
			<key>image2/room/game/title_zhanji.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,2},{399,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{399,107}</string>
			</dict>
			<key>image2/room/game/txt_yinxiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,268},{134,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,38}</string>
			</dict>
			<key>image2/room/game/txt_yinyue.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,226},{136,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,38}</string>
			</dict>
			<key>image2/room/game/txt_zhongma.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,196},{59,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,35}</string>
			</dict>
			<key>image2/room/game/game_top_3player.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,2},{499,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{499,81}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>