<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>angang/boom/boom1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,801},{314,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,302}}</string>
                <key>sourceSize</key>
                <string>{314,302}</string>
            </dict>
            <key>angang/boom/boom10.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,801},{218,224}}</string>
                <key>offset</key>
                <string>{-13,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,27},{218,224}}</string>
                <key>sourceSize</key>
                <string>{314,302}</string>
            </dict>
            <key>angang/boom/boom11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,1799},{192,202}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,51},{192,202}}</string>
                <key>sourceSize</key>
                <string>{314,302}</string>
            </dict>
            <key>angang/boom/boom12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,591},{194,204}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,51},{194,204}}</string>
                <key>sourceSize</key>
                <string>{314,302}</string>
            </dict>
            <key>angang/boom/boom13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,1597},{200,210}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,47},{200,210}}</string>
                <key>sourceSize</key>
                <string>{314,302}</string>
            </dict>
            <key>angang/boom/boom14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,591},{194,208}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,48},{194,208}}</string>
                <key>sourceSize</key>
                <string>{314,302}</string>
            </dict>
            <key>angang/boom/boom15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1881,1533},{174,164}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,52},{174,164}}</string>
                <key>sourceSize</key>
                <string>{314,302}</string>
            </dict>
            <key>angang/boom/boom16.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,1146},{314,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,302}}</string>
                <key>sourceSize</key>
                <string>{314,302}</string>
            </dict>
            <key>angang/boom/boom17.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,1602},{314,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,302}}</string>
                <key>sourceSize</key>
                <string>{314,302}</string>
            </dict>
            <key>angang/boom/boom18.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,1151},{314,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,302}}</string>
                <key>sourceSize</key>
                <string>{314,302}</string>
            </dict>
            <key>angang/boom/boom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,1066},{270,272}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,19},{270,272}}</string>
                <key>sourceSize</key>
                <string>{314,302}</string>
            </dict>
            <key>angang/boom/boom3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,818},{284,246}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,34},{284,246}}</string>
                <key>sourceSize</key>
                <string>{314,302}</string>
            </dict>
            <key>angang/boom/boom4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,516},{300,272}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,17},{300,272}}</string>
                <key>sourceSize</key>
                <string>{314,302}</string>
            </dict>
            <key>angang/boom/boom5.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,296},{248,254}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,27},{248,254}}</string>
                <key>sourceSize</key>
                <string>{314,302}</string>
            </dict>
            <key>angang/boom/boom6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,1391},{246,232}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,27},{246,232}}</string>
                <key>sourceSize</key>
                <string>{314,302}</string>
            </dict>
            <key>angang/boom/boom7.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,788},{250,234}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,27},{250,234}}</string>
                <key>sourceSize</key>
                <string>{314,302}</string>
            </dict>
            <key>angang/boom/boom8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,280},{244,234}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,27},{244,234}}</string>
                <key>sourceSize</key>
                <string>{314,302}</string>
            </dict>
            <key>angang/boom/boom9.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,552},{248,234}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,27},{248,234}}</string>
                <key>sourceSize</key>
                <string>{314,302}</string>
            </dict>
            <key>angang/ganglight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,408},{309,176}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{309,176}}</string>
                <key>sourceSize</key>
                <string>{323,176}</string>
            </dict>
            <key>angang/word1.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1481},{119,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,134}}</string>
                <key>sourceSize</key>
                <string>{119,134}</string>
            </dict>
            <key>angang/word2.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,1024},{126,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,125}}</string>
                <key>sourceSize</key>
                <string>{126,125}</string>
            </dict>
            <key>gang/gang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,970},{190,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,298}}</string>
                <key>sourceSize</key>
                <string>{190,298}</string>
            </dict>
            <key>gang/gang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,778},{190,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,298}}</string>
                <key>sourceSize</key>
                <string>{190,298}</string>
            </dict>
            <key>gang/gang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,586},{190,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,298}}</string>
                <key>sourceSize</key>
                <string>{190,298}</string>
            </dict>
            <key>gang/gang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,453},{150,288}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{150,288}}</string>
                <key>sourceSize</key>
                <string>{190,298}</string>
            </dict>
            <key>gang/gang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,1024},{120,292}}</string>
                <key>offset</key>
                <string>{19,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,6},{120,292}}</string>
                <key>sourceSize</key>
                <string>{190,298}</string>
            </dict>
            <key>gang/gang6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2010},{36,282}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,8},{36,282}}</string>
                <key>sourceSize</key>
                <string>{190,298}</string>
            </dict>
            <key>jiehu/fire/fire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1018},{131,142}}</string>
                <key>offset</key>
                <string>{-10,-164}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,365},{131,142}}</string>
                <key>sourceSize</key>
                <string>{333,544}</string>
            </dict>
            <key>jiehu/fire/fire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1640},{213,368}}</string>
                <key>offset</key>
                <string>{-8,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,143},{213,368}}</string>
                <key>sourceSize</key>
                <string>{333,544}</string>
            </dict>
            <key>jiehu/fire/fire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{333,544}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,544}}</string>
                <key>sourceSize</key>
                <string>{333,544}</string>
            </dict>
            <key>jiehu/fire/fire4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1094},{333,544}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,544}}</string>
                <key>sourceSize</key>
                <string>{333,544}</string>
            </dict>
            <key>jiehu/fire/fire5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{333,544}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,544}}</string>
                <key>sourceSize</key>
                <string>{333,544}</string>
            </dict>
            <key>jiehu/fire/fire6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{333,544}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,544}}</string>
                <key>sourceSize</key>
                <string>{333,544}</string>
            </dict>
            <key>jiehu/fire/fire7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,203},{203,514}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,8},{203,514}}</string>
                <key>sourceSize</key>
                <string>{333,544}</string>
            </dict>
            <key>jiehu/fire/fire8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{199,520}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,8},{199,520}}</string>
                <key>sourceSize</key>
                <string>{333,544}</string>
            </dict>
            <key>jiehu/fire/fire9.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1998},{21,452}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,36},{21,452}}</string>
                <key>sourceSize</key>
                <string>{333,544}</string>
            </dict>
            <key>jiehu/fivelight/fivestar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,337},{210,252}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,27},{210,252}}</string>
                <key>sourceSize</key>
                <string>{400,326}</string>
            </dict>
            <key>jiehu/fivelight/fivestar10.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,337},{332,198}}</string>
                <key>offset</key>
                <string>{-20,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,60},{332,198}}</string>
                <key>sourceSize</key>
                <string>{400,326}</string>
            </dict>
            <key>jiehu/fivelight/fivestar11.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,139},{312,150}}</string>
                <key>offset</key>
                <string>{-35,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,69},{312,150}}</string>
                <key>sourceSize</key>
                <string>{400,326}</string>
            </dict>
            <key>jiehu/fivelight/fivestar12.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1481},{210,136}}</string>
                <key>offset</key>
                <string>{-72,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,82},{210,136}}</string>
                <key>sourceSize</key>
                <string>{400,326}</string>
            </dict>
            <key>jiehu/fivelight/fivestar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,2},{276,236}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,44},{276,236}}</string>
                <key>sourceSize</key>
                <string>{400,326}</string>
            </dict>
            <key>jiehu/fivelight/fivestar3.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,2},{292,242}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,37},{292,242}}</string>
                <key>sourceSize</key>
                <string>{400,326}</string>
            </dict>
            <key>jiehu/fivelight/fivestar4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,1162},{272,260}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,46},{272,260}}</string>
                <key>sourceSize</key>
                <string>{400,326}</string>
            </dict>
            <key>jiehu/fivelight/fivestar5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,1117},{272,232}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,47},{272,232}}</string>
                <key>sourceSize</key>
                <string>{400,326}</string>
            </dict>
            <key>jiehu/fivelight/fivestar6.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1619},{322,272}}</string>
                <key>offset</key>
                <string>{-19,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,10},{322,272}}</string>
                <key>sourceSize</key>
                <string>{400,326}</string>
            </dict>
            <key>jiehu/fivelight/fivestar7.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1640},{356,276}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,11},{356,276}}</string>
                <key>sourceSize</key>
                <string>{400,326}</string>
            </dict>
            <key>jiehu/fivelight/fivestar8.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1151},{328,260}}</string>
                <key>offset</key>
                <string>{-11,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,21},{328,260}}</string>
                <key>sourceSize</key>
                <string>{400,326}</string>
            </dict>
            <key>jiehu/fivelight/fivestar9.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,537},{328,262}}</string>
                <key>offset</key>
                <string>{-13,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,19},{328,262}}</string>
                <key>sourceSize</key>
                <string>{400,326}</string>
            </dict>
            <key>jiehu/word1.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,877},{146,139}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{146,139}}</string>
                <key>sourceSize</key>
                <string>{148,141}</string>
            </dict>
            <key>jiehu/word2.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1467},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{133,133}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>jiehu/word3.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1467},{115,130}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{115,130}}</string>
                <key>sourceSize</key>
                <string>{117,132}</string>
            </dict>
            <key>peng/peng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1715,1338},{193,254}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,20},{193,254}}</string>
                <key>sourceSize</key>
                <string>{223,284}</string>
            </dict>
            <key>peng/peng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,1424},{171,224}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,35},{171,224}}</string>
                <key>sourceSize</key>
                <string>{223,284}</string>
            </dict>
            <key>peng/peng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,801},{177,220}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,37},{177,220}}</string>
                <key>sourceSize</key>
                <string>{223,284}</string>
            </dict>
            <key>peng/peng4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,1533},{185,212}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,40},{185,212}}</string>
                <key>sourceSize</key>
                <string>{223,284}</string>
            </dict>
            <key>peng/peng5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,1799},{183,196}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,48},{183,196}}</string>
                <key>sourceSize</key>
                <string>{223,284}</string>
            </dict>
            <key>peng/peng6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,408},{179,166}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,64},{179,166}}</string>
                <key>sourceSize</key>
                <string>{223,284}</string>
            </dict>
            <key>peng/peng7.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,743},{147,132}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,81},{147,132}}</string>
                <key>sourceSize</key>
                <string>{223,284}</string>
            </dict>
            <key>peng1/word3.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{135,154}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{135,154}}</string>
                <key>sourceSize</key>
                <string>{145,154}</string>
            </dict>
            <key>peng1/word4.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,1024},{112,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,122}}</string>
                <key>sourceSize</key>
                <string>{112,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff81055fa991e4471130de00865099ca:1/1$</string>
            <key>textureFileName</key>
            <string>effect1.png</string>
        </dict>
    </dict>
</plist>
