<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>happy0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,1330},{194,186}}</string>
                <key>offset</key>
                <string>{-22,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,33},{194,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>happy0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1298},{192,184}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,35},{192,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>happy0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,964},{180,182}}</string>
                <key>offset</key>
                <string>{-14,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,38},{180,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>happy0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,196},{162,178}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,43},{162,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>happy0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1518},{180,184}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,36},{180,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>happy0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1827},{190,184}}</string>
                <key>offset</key>
                <string>{17,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,35},{190,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>happy0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1190},{194,186}}</string>
                <key>offset</key>
                <string>{19,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,33},{194,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>happy0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1827},{190,184}}</string>
                <key>offset</key>
                <string>{17,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,35},{190,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>happy0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,1492},{180,184}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,36},{180,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>happy0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,196},{162,178}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,43},{162,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>happy0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,782},{180,182}}</string>
                <key>offset</key>
                <string>{-14,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,38},{180,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>happy0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1194},{192,184}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,35},{192,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>hitwall0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,796},{206,218}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,5},{206,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>hitwall0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,796},{206,218}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,5},{206,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>hitwall0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,790},{206,218}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,5},{206,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>hitwall0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,586},{206,218}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,5},{206,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>hitwall0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,620},{208,218}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,5},{208,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>hitwall0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,609},{206,222}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,6},{206,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>hitwall0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,412},{206,222}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,6},{206,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>hitwall0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,410},{206,222}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,5},{206,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>hitwall0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,824},{206,222}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,5},{206,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>hitwall0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,618},{206,222}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,5},{206,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>hitwall0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,618},{206,222}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,5},{206,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>hitwall0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,618},{206,222}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,5},{206,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>hurry0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,998},{194,204}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,20},{194,204}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>hurry0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,994},{194,204}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,20},{194,204}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>hurry0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,990},{194,204}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,20},{194,204}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>hurry0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,972},{194,204}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,20},{194,204}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>img_speakbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{268,197}}</string>
                <key>sourceSize</key>
                <string>{268,199}</string>
            </dict>
            <key>money0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,410},{174,222}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,15},{174,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>money0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,624},{176,218}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,19},{176,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>money0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,830},{178,216}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,21},{178,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>money0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,817},{180,216}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,21},{180,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>money0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,618},{176,220}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,17},{176,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>money0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,410},{174,222}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,15},{174,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>saying0.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,591},{128,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,30}}</string>
                <key>sourceSize</key>
                <string>{128,30}</string>
            </dict>
            <key>saying1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,461},{128,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,30}}</string>
                <key>sourceSize</key>
                <string>{128,30}</string>
            </dict>
            <key>saying2.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,331},{128,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,30}}</string>
                <key>sourceSize</key>
                <string>{128,30}</string>
            </dict>
            <key>saying3.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,201},{128,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,30}}</string>
                <key>sourceSize</key>
                <string>{128,30}</string>
            </dict>
            <key>sese0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,616},{206,222}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{206,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sese0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,408},{214,222}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{214,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sese0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,408},{206,222}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{206,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sese0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,408},{208,222}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{208,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sleep0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,1146},{148,194}}</string>
                <key>offset</key>
                <string>{-11,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,40},{148,194}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sleep0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1677},{148,192}}</string>
                <key>offset</key>
                <string>{-11,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,42},{148,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sleep0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1604},{148,192}}</string>
                <key>offset</key>
                <string>{-11,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,42},{148,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sleep0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1484},{148,192}}</string>
                <key>offset</key>
                <string>{-11,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,42},{148,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sleep0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1380},{148,192}}</string>
                <key>offset</key>
                <string>{-11,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,42},{148,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sleep0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1378},{148,192}}</string>
                <key>offset</key>
                <string>{-11,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,42},{148,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sleep0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1527},{148,192}}</string>
                <key>offset</key>
                <string>{-11,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,42},{148,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sleep0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1454},{148,192}}</string>
                <key>offset</key>
                <string>{-12,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,42},{148,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sleep0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,2},{162,192}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,42},{162,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sleep0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,1326},{168,190}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,44},{168,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sleep0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,1296},{170,190}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,44},{170,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sleep0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1754},{172,190}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,44},{172,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sleep0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,1168},{174,196}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,38},{174,196}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sleep0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1195},{180,200}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,34},{180,200}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sleep0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,576},{182,204}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,30},{182,204}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sleep0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,802},{186,208}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,26},{186,208}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sleep0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,999},{194,212}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,22},{194,212}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sleep0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,794},{198,216}}</string>
                <key>offset</key>
                <string>{13,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,18},{198,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sleep0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,586},{202,220}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,14},{202,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sorry0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,206},{200,228}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,9},{200,228}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sorry0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,206},{200,228}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,9},{200,228}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sorry0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,206},{202,228}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{202,228}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sorry0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,206},{202,228}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{202,228}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sorry0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{204,228}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,9},{204,228}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sorry0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,405},{202,228}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{202,228}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sorry0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,206},{200,228}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,9},{200,228}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sorry0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,208},{202,228}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{202,228}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sorry0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,206},{202,228}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{202,228}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sorry0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,2},{202,228}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{202,228}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sorry0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,2},{202,228}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{202,228}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sorry0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,2},{202,228}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{202,228}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sorry0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{202,228}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{202,228}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sorry0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{202,228}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{202,228}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sorry0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{202,228}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{202,228}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>sorry0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{202,228}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{202,228}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>yun0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,1186},{142,196}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,32},{142,196}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>yun0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,826},{144,206}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,23},{144,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>yun0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1150},{146,202}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,27},{146,202}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>yun0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,376},{148,198}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,31},{148,198}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>yun0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1010},{146,202}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,27},{146,202}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>yun0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,1180},{144,194}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,34},{144,194}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>yun0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1004},{144,204}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,24},{144,204}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>yun0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,1032},{146,198}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,31},{146,198}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>yun0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1377},{148,192}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,37},{148,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>yun0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1304},{148,192}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,37},{148,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>yun0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,1344},{146,188}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,41},{146,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>yun0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1158},{144,202}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,26},{144,202}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>emoji_new2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20bc803161573726958792a0148a0b57:1/1$</string>
            <key>textureFileName</key>
            <string>emoji_new2.png</string>
        </dict>
    </dict>
</plist>
