<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tishi2_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{552,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,361}}</string>
                <key>sourceSize</key>
                <string>{552,361}</string>
            </dict>
            <key>tishi2_fou.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,191},{185,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{185,76}}</string>
                <key>sourceSize</key>
                <string>{187,76}</string>
            </dict>
            <key>tishi2_shi.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,2},{187,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,76}}</string>
                <key>sourceSize</key>
                <string>{187,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tishi2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d36d9054409232222497100929c58b8:1/1$</string>
            <key>textureFileName</key>
            <string>tishi2.png</string>
        </dict>
    </dict>
</plist>
