<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SelectSvr_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,799},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>SelectSvr_greenPoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,46},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>SelectSvr_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,137},{152,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,33}}</string>
                <key>sourceSize</key>
                <string>{152,33}</string>
            </dict>
            <key>btn_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{185,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{185,76}}</string>
                <key>sourceSize</key>
                <string>{187,76}</string>
            </dict>
            <key>btn_close1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,673},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>btn_close2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>btn_sure.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{187,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,76}}</string>
                <key>sourceSize</key>
                <string>{187,76}</string>
            </dict>
            <key>common_msg_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>common_msg_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,739},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>common_msg_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{109,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,42}}</string>
                <key>sourceSize</key>
                <string>{109,42}</string>
            </dict>
            <key>headbox2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{89,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,100}}</string>
                <key>sourceSize</key>
                <string>{89,100}</string>
            </dict>
            <key>ui_notice_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,291},{517,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{517,32}}</string>
                <key>sourceSize</key>
                <string>{517,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_common.png</string>
            <key>size</key>
            <string>{128,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c720313c906ca9745a671189be52db78:1/1$</string>
            <key>textureFileName</key>
            <string>ui_common.png</string>
        </dict>
    </dict>
</plist>
