<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>matchUI_Rank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,384},{42,45}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,47}</string>
            </dict>
            <key>matchUI_Rank1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,327},{122,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,41}}</string>
                <key>sourceSize</key>
                <string>{122,41}</string>
            </dict>
            <key>matchUI_Rank1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,49},{122,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,41}}</string>
                <key>sourceSize</key>
                <string>{122,41}</string>
            </dict>
            <key>matchUI_Rank2.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,338},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,47}</string>
            </dict>
            <key>matchUI_Rank2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,338},{122,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,41}}</string>
                <key>sourceSize</key>
                <string>{122,41}</string>
            </dict>
            <key>matchUI_Rank2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,295},{122,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,41}}</string>
                <key>sourceSize</key>
                <string>{122,41}</string>
            </dict>
            <key>matchUI_Rank3.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,2},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,47}</string>
            </dict>
            <key>matchUI_Rank3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,252},{122,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,41}}</string>
                <key>sourceSize</key>
                <string>{122,41}</string>
            </dict>
            <key>matchUI_Rank3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,209},{122,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,41}}</string>
                <key>sourceSize</key>
                <string>{122,41}</string>
            </dict>
            <key>matchUI_Rank4.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,356},{30,31}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{30,31}}</string>
                <key>sourceSize</key>
                <string>{42,47}</string>
            </dict>
            <key>matchUI_Rank4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,80},{122,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,41}}</string>
                <key>sourceSize</key>
                <string>{122,41}</string>
            </dict>
            <key>matchUI_Rank4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,166},{122,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,41}}</string>
                <key>sourceSize</key>
                <string>{122,41}</string>
            </dict>
            <key>matchUI_Rank5.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,293},{30,31}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{30,31}}</string>
                <key>sourceSize</key>
                <string>{42,47}</string>
            </dict>
            <key>matchUI_Rank5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,123},{122,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,41}}</string>
                <key>sourceSize</key>
                <string>{122,41}</string>
            </dict>
            <key>matchUI_Rank5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,80},{122,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,41}}</string>
                <key>sourceSize</key>
                <string>{122,41}</string>
            </dict>
            <key>matchUI_Rank6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,92},{122,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,41}}</string>
                <key>sourceSize</key>
                <string>{122,41}</string>
            </dict>
            <key>matchUI_Rank6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,381},{122,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,41}}</string>
                <key>sourceSize</key>
                <string>{122,41}</string>
            </dict>
            <key>matchUI_Rank7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,338},{122,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,41}}</string>
                <key>sourceSize</key>
                <string>{122,41}</string>
            </dict>
            <key>matchUI_Rank7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,92},{122,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,41}}</string>
                <key>sourceSize</key>
                <string>{122,41}</string>
            </dict>
            <key>matchUI_RankTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{330,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{330,88}}</string>
                <key>sourceSize</key>
                <string>{332,88}</string>
            </dict>
            <key>matchUI_addr.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,292},{90,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,24}}</string>
                <key>sourceSize</key>
                <string>{90,24}</string>
            </dict>
            <key>matchUI_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,367},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>matchUI_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,381},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>matchUI_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,318},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>matchUI_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,389},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>matchUI_btnBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{446,363}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{446,363}}</string>
                <key>sourceSize</key>
                <string>{448,363}</string>
            </dict>
            <key>matchUI_btnBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,385},{58,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,67}}</string>
                <key>sourceSize</key>
                <string>{58,67}</string>
            </dict>
            <key>matchUI_btnData.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,92},{147,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,48}}</string>
                <key>sourceSize</key>
                <string>{147,48}</string>
            </dict>
            <key>matchUI_btnJoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{187,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,76}}</string>
                <key>sourceSize</key>
                <string>{187,76}</string>
            </dict>
            <key>matchUI_btnRecord.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,286},{84,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{84,68}}</string>
                <key>sourceSize</key>
                <string>{84,70}</string>
            </dict>
            <key>matchUI_btnRule.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,241},{84,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{84,68}}</string>
                <key>sourceSize</key>
                <string>{84,70}</string>
            </dict>
            <key>matchUI_btnSign.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,170},{185,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{185,76}}</string>
                <key>sourceSize</key>
                <string>{187,76}</string>
            </dict>
            <key>matchUI_btnSubmit.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,92},{185,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{185,76}}</string>
                <key>sourceSize</key>
                <string>{187,76}</string>
            </dict>
            <key>matchUI_btnzg.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,216},{84,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{84,68}}</string>
                <key>sourceSize</key>
                <string>{84,70}</string>
            </dict>
            <key>matchUI_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,318},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>matchUI_day.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,204},{90,60}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{98,60}</string>
            </dict>
            <key>matchUI_grbsjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,92},{147,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,27}}</string>
                <key>sourceSize</key>
                <string>{147,27}</string>
            </dict>
            <key>matchUI_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,418},{50,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,23}}</string>
                <key>sourceSize</key>
                <string>{50,23}</string>
            </dict>
            <key>matchUI_phone.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,266},{90,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,24}}</string>
                <key>sourceSize</key>
                <string>{90,24}</string>
            </dict>
            <key>matchUI_ruleTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,293},{161,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,43}}</string>
                <key>sourceSize</key>
                <string>{161,43}</string>
            </dict>
            <key>matchUI_slip.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,92},{2,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,265}}</string>
                <key>sourceSize</key>
                <string>{2,265}</string>
            </dict>
            <key>matchUI_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{355,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,36}}</string>
                <key>sourceSize</key>
                <string>{355,36}</string>
            </dict>
            <key>matchUI_txtDay.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,405},{155,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,43}}</string>
                <key>sourceSize</key>
                <string>{155,43}</string>
            </dict>
            <key>matchUI_txtRank.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,424},{95,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,27}}</string>
                <key>sourceSize</key>
                <string>{95,27}</string>
            </dict>
            <key>matchUI_txtWeek1.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,248},{193,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,43}}</string>
                <key>sourceSize</key>
                <string>{193,43}</string>
            </dict>
            <key>matchUI_txtWeek2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,405},{193,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,43}}</string>
                <key>sourceSize</key>
                <string>{193,43}</string>
            </dict>
            <key>matchUI_week.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,356},{98,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,60}}</string>
                <key>sourceSize</key>
                <string>{98,60}</string>
            </dict>
            <key>matchui_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,418},{46,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,25}}</string>
                <key>sourceSize</key>
                <string>{46,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_match.png</string>
            <key>size</key>
            <string>{1022,454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:347b02c3b94edaee1e42ce3d05af75af:1/1$</string>
            <key>textureFileName</key>
            <string>ui_match.png</string>
        </dict>
    </dict>
</plist>
