<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shopUI_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{158,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,179}}</string>
                <key>sourceSize</key>
                <string>{158,179}</string>
            </dict>
            <key>shopUI_disountBg.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{133,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,89}}</string>
                <key>sourceSize</key>
                <string>{133,89}</string>
            </dict>
            <key>shopUI_itemBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,311}}</string>
                <key>sourceSize</key>
                <string>{232,311}</string>
            </dict>
            <key>shopUI_moneyBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,315},{212,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,61}}</string>
                <key>sourceSize</key>
                <string>{212,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_shop.png</string>
            <key>size</key>
            <string>{236,587}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65ad55122b213587b4fde8556ef35b4e$</string>
            <key>textureFileName</key>
            <string>ui_shop.png</string>
        </dict>
    </dict>
</plist>
