<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>AppPlatform/ui/image_club/com_tbtn/btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,226},{65,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,75}</string>
			</dict>
			<key>AppPlatform/ui/image_club/com_tbtn/btn_chengyuanliebiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,155},{88,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,69}</string>
			</dict>
			<key>AppPlatform/ui/image_club/com_tbtn/btn_fangkatongji.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,155},{89,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,69}</string>
			</dict>
			<key>AppPlatform/ui/image_club/com_tbtn/btn_jieshufangjian.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,273},{79,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,61}</string>
			</dict>
			<key>AppPlatform/ui/image_club/com_tbtn/btn_julebushezhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,151},{98,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,68}</string>
			</dict>
			<key>AppPlatform/ui/image_club/com_tbtn/btn_kuaisukaishi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{326,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{326,93}</string>
			</dict>
			<key>AppPlatform/ui/image_club/com_tbtn/btn_lastPage.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,223},{117,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,46}</string>
			</dict>
			<key>AppPlatform/ui/image_club/com_tbtn/btn_majiang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,77},{156,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,52}</string>
			</dict>
			<key>AppPlatform/ui/image_club/com_tbtn/btn_majiang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,95},{156,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,52}</string>
			</dict>
			<key>AppPlatform/ui/image_club/com_tbtn/btn_nextPage.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,244},{117,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,46}</string>
			</dict>
			<key>AppPlatform/ui/image_club/com_tbtn/btn_puke1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,99},{148,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,52}</string>
			</dict>
			<key>AppPlatform/ui/image_club/com_tbtn/btn_puke2.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,99},{148,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,52}</string>
			</dict>
			<key>AppPlatform/ui/image_club/com_tbtn/btn_queding.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,2},{210,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,89}</string>
			</dict>
			<key>AppPlatform/ui/image_club/com_tbtn/btn_shanchu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,273},{46,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,62}</string>
			</dict>
			<key>AppPlatform/ui/image_club/com_tbtn/btn_shangye1.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,295},{65,72}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,72}</string>
			</dict>
			<key>AppPlatform/ui/image_club/com_tbtn/btn_shangye2.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,338},{65,72}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,72}</string>
			</dict>
			<key>AppPlatform/ui/image_club/com_tbtn/btn_shenqing.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,339},{60,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,61}</string>
			</dict>
			<key>AppPlatform/ui/image_club/com_tbtn/btn_shezhiwanfa.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,95},{162,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,42}</string>
			</dict>
			<key>AppPlatform/ui/image_club/com_tbtn/btn_xiaye1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,228},{66,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,72}</string>
			</dict>
			<key>AppPlatform/ui/image_club/com_tbtn/btn_xiaye2.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,228},{66,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,72}</string>
			</dict>
			<key>AppPlatform/ui/image_club/com_tbtn/btn_xuanzewanfa1.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,2},{71,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,214}</string>
			</dict>
			<key>AppPlatform/ui/image_club/com_tbtn/btn_xuanzewanfa2.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,2},{71,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,214}</string>
			</dict>
			<key>AppPlatform/ui/image_club/com_tbtn/btn_yaoqing.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,298},{60,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,61}</string>
			</dict>
			<key>AppPlatform/ui/image_club/com_tbtn/btn_youxiguanli.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,155},{89,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,67}</string>
			</dict>
			<key>AppPlatform/ui/image_club/com_tbtn/btn_zhanji.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,151},{89,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,70}</string>
			</dict>
			<key>AppPlatform/ui/image_club/com_tbtn/btn_zipai1.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,77},{156,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,52}</string>
			</dict>
			<key>AppPlatform/ui/image_club/com_tbtn/btn_zipai2.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,77},{156,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,52}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>