<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image2/effect/fangpao/fangpao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,2},{152,152}}</string>
				<key>offset</key>
				<string>{-14,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,254}</string>
			</dict>
			<key>image2/effect/fangpao/fangpao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,2},{253,254}}</string>
				<key>offset</key>
				<string>{-15,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,254}</string>
			</dict>
			<key>image2/effect/fangpao/fangpao3.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,2},{253,254}}</string>
				<key>offset</key>
				<string>{-15,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,254}</string>
			</dict>
			<key>image2/effect/fangpao/fangpao4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{282,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,254}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>