<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image2/activity2/btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1358},{43,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,39}</string>
			</dict>
			<key>image2/activity2/btn_reward.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,1715},{208,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,68}</string>
			</dict>
			<key>image2/activity2/btn_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,750},{208,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,68}</string>
			</dict>
			<key>image2/activity2/icon1.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,2},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>
			<key>image2/activity2/icon10.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,2},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>
			<key>image2/activity2/icon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,2},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>
			<key>image2/activity2/icon3.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,2},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>
			<key>image2/activity2/icon4.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,2},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>
			<key>image2/activity2/icon5.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,95},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>
			<key>image2/activity2/icon6.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,95},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>
			<key>image2/activity2/icon7.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,95},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>
			<key>image2/activity2/icon8.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,95},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>
			<key>image2/activity2/icon9.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,95},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>
			<key>image2/activity2/img_bound_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,985},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>image2/activity2/img_context_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2005},{628,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{628,27}</string>
			</dict>
			<key>image2/activity2/img_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1021,2},{654,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{654,1}</string>
			</dict>
			<key>image2/activity2/img_ruletable_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,2},{415,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{415,284}</string>
			</dict>
			<key>image2/activity2/img_ruletable_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,421},{325,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{325,284}</string>
			</dict>
			<key>image2/activity2/img_snow1.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,1234},{59,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,31}</string>
			</dict>
			<key>image2/activity2/img_snow2.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,852},{272,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{272,36}</string>
			</dict>
			<key>image2/activity2/img_snow3.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,2},{75,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,18}</string>
			</dict>
			<key>image2/activity2/img_snow4.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,2005},{356,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{356,37}</string>
			</dict>
			<key>image2/activity2/img_snow5.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,1104},{128,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,35}</string>
			</dict>
			<key>image2/activity2/img_snow6.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,1104},{79,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,29}</string>
			</dict>
			<key>image2/activity2/img_snow7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{1024,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1024,157}</string>
			</dict>
			<key>image2/activity2/img_snow8.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,2},{1024,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1024,23}</string>
			</dict>
			<key>image2/activity2/img_table_leftbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1030},{370,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,324}</string>
			</dict>
			<key>image2/activity2/img_table_rightbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1404},{370,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,324}</string>
			</dict>
			<key>image2/activity2/txt_club.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,1187},{78,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,26}</string>
			</dict>
			<key>image2/activity2/txt_num.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,1612},{99,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,26}</string>
			</dict>
			<key>image2/activity2/txt_timemsg.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,442},{658,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{658,44}</string>
			</dict>
			<key>image2/activity2/txt_tipscondis.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,1926},{424,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{424,75}</string>
			</dict>
			<key>image2/activity2/txt_tipsjoin.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1926},{519,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{519,75}</string>
			</dict>
			<key>image2/activity2/eff_activity1.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,1481},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>image2/activity2/eff_activity2.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,1401},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>image2/activity2/eff_activity3.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,1128},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>image2/activity2/eff_activity4.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,1246},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>image2/activity2/btn_activity.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,750},{91,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,88}</string>
			</dict>
			<key>image2/activity2/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1151},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>image2/activity2/img_total.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,962},{194,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,60}</string>
			</dict>
			<key>image2/activity2/no1.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1205},{52,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,47}</string>
			</dict>
			<key>image2/activity2/no2.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1256},{52,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,47}</string>
			</dict>
			<key>image2/activity2/no3.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1307},{52,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,47}</string>
			</dict>
			<key>image2/activity2/txt_tipsfinish.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,2},{436,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{436,34}</string>
			</dict>
			<key>image2/activity2/btn_activityreward.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,1174},{91,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,88}</string>
			</dict>
			<key>image2/activity2/btn_canrewards.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,962},{208,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,68}</string>
			</dict>
			<key>image2/activity2/btn_share.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,892},{208,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,68}</string>
			</dict>
			<key>image2/activity2/btn_sure.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,1104},{208,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,68}</string>
			</dict>
			<key>image2/activity2/icon_win1.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,1316},{54,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,59}</string>
			</dict>
			<key>image2/activity2/icon_win2.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,1868},{54,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,59}</string>
			</dict>
			<key>image2/activity2/icon_win3.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,1868},{54,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,59}</string>
			</dict>
			<key>image2/activity2/iconstar.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,1128},{94,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,85}</string>
			</dict>
			<key>image2/activity2/rewardno1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,1226},{85,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,91}</string>
			</dict>
			<key>image2/activity2/rewardno1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,1232},{85,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,91}</string>
			</dict>
			<key>image2/activity2/rewardno2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,188},{85,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,91}</string>
			</dict>
			<key>image2/activity2/rewardno2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,188},{85,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,91}</string>
			</dict>
			<key>image2/activity2/rewardno3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,188},{85,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,91}</string>
			</dict>
			<key>image2/activity2/rewardno3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,188},{85,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,91}</string>
			</dict>
			<key>image2/activity2/eff_rewards1.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,750},{231,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,98}</string>
			</dict>
			<key>image2/activity2/eff_rewards2.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,1269},{231,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{231,98}</string>
			</dict>
			<key>image2/activity2/eff_rewards3.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,1504},{231,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{231,98}</string>
			</dict>
			<key>image2/activity2/eff_rewards4.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1560},{231,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{231,98}</string>
			</dict>
			<key>image2/activity2/eff_rewards5.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,1401},{231,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,98}</string>
			</dict>
			<key>image2/activity2/eff_rewards6.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,1503},{231,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,98}</string>
			</dict>
			<key>image2/activity2/eff_rewards7.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,1605},{231,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,98}</string>
			</dict>
			<key>image2/activity2/eff_rewards8.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,1026},{231,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,98}</string>
			</dict>
			<key>image2/activity2/btn_changeinfo.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,1269},{208,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,68}</string>
			</dict>
			<key>image2/activity2/bg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,1599},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>image2/activity2/bg5.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,1128},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>image2/activity2/btn_cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,1374},{182,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,69}</string>
			</dict>
			<key>image2/activity2/btn_change.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,1703},{182,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,69}</string>
			</dict>
			<key>image2/activity2/btn_closeAll.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,1174},{56,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,33}</string>
			</dict>
			<key>image2/activity2/btn_infoclose.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,1927},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>image2/activity2/btn_return.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,1321},{75,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,92}</string>
			</dict>
			<key>image2/activity2/btn_sureinfo.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1795},{182,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,69}</string>
			</dict>
			<key>image2/activity2/editbox_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,1049},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>image2/activity2/no_reward1.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,962},{52,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,59}</string>
			</dict>
			<key>image2/activity2/no_reward2.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1025},{52,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,59}</string>
			</dict>
			<key>image2/activity2/no_reward3.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1088},{52,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,59}</string>
			</dict>
			<key>image2/activity2/titlegotstar.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1778},{637,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{637,144}</string>
			</dict>
			<key>image2/activity2/titleinfo.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,904},{533,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{533,54}</string>
			</dict>
			<key>image2/activity2/txt_userinfo.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,845},{136,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,39}</string>
			</dict>
			<key>image2/activity2/btn_redclose.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,1113},{57,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,58}</string>
			</dict>
			<key>image2/activity2/di.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,1739},{38,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,35}</string>
			</dict>
			<key>image2/activity2/hongbaozi.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,750},{350,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,150}</string>
			</dict>
			<key>image2/activity2/ming.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1889},{32,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,35}</string>
			</dict>
			<key>image2/activity2/tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,1030},{578,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{578,28}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>activity2.png</string>
			<key>realTextureFileName</key>
			<string>activity2.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>