<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image2/hall/createroom/16ju.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,386},{46,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,22}</string>
			</dict>
			<key>image2/hall/createroom/2ge.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,352},{36,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,23}</string>
			</dict>
			<key>image2/hall/createroom/3ge.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,378},{36,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,23}</string>
			</dict>
			<key>image2/hall/createroom/3ren.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,392},{36,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,23}</string>
			</dict>
			<key>image2/hall/createroom/4ge.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,405},{36,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,23}</string>
			</dict>
			<key>image2/hall/createroom/4ren.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,400},{36,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,23}</string>
			</dict>
			<key>image2/hall/createroom/6ge.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,400},{36,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,23}</string>
			</dict>
			<key>image2/hall/createroom/8ju.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,436},{35,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,22}</string>
			</dict>
			<key>image2/hall/createroom/bottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,2},{530,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{530,31}</string>
			</dict>
			<key>image2/hall/createroom/btn_cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,63},{210,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,69}</string>
			</dict>
			<key>image2/hall/createroom/btn_continuecreate.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,63},{210,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,69}</string>
			</dict>
			<key>image2/hall/createroom/btn_copy.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,436},{64,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,35}</string>
			</dict>
			<key>image2/hall/createroom/btn_createroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,136},{210,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,69}</string>
			</dict>
			<key>image2/hall/createroom/btn_delete.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,473},{79,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,70}</string>
			</dict>
			<key>image2/hall/createroom/btn_dissroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,362},{47,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,70}</string>
			</dict>
			<key>image2/hall/createroom/btn_enterroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,209},{210,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,69}</string>
			</dict>
			<key>image2/hall/createroom/btn_invate.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,378},{79,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,70}</string>
			</dict>
			<key>image2/hall/createroom/btn_next.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,483},{103,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,40}</string>
			</dict>
			<key>image2/hall/createroom/btn_open.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,261},{97,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,37}</string>
			</dict>
			<key>image2/hall/createroom/btn_selectclose.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,277},{97,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,37}</string>
			</dict>
			<key>image2/hall/createroom/btn_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,63},{103,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,40}</string>
			</dict>
			<key>image2/hall/createroom/huqidui.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,373},{72,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,23}</string>
			</dict>
			<key>image2/hall/createroom/itemroom_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{521,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{521,73}</string>
			</dict>
			<key>image2/hall/createroom/jushu.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,378},{88,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,23}</string>
			</dict>
			<key>image2/hall/createroom/kepanguan.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,282},{71,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,23}</string>
			</dict>
			<key>image2/hall/createroom/mieluo.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,277},{94,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,23}</string>
			</dict>
			<key>image2/hall/createroom/pointselect_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,282},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>image2/hall/createroom/pointselect_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,282},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>image2/hall/createroom/qita.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,282},{87,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,23}</string>
			</dict>
			<key>image2/hall/createroom/renshu.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,282},{88,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,23}</string>
			</dict>
			<key>image2/hall/createroom/select_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,318},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>image2/hall/createroom/select_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,318},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>image2/hall/createroom/title_chenggong.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,343},{136,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,39}</string>
			</dict>
			<key>image2/hall/createroom/title_chuangjian.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,2},{199,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{199,56}</string>
			</dict>
			<key>image2/hall/createroom/title_jiesan.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,205},{134,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,40}</string>
			</dict>
			<key>image2/hall/createroom/title_wodefangj.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,2},{350,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,57}</string>
			</dict>
			<key>image2/hall/createroom/top.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,2},{530,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{530,37}</string>
			</dict>
			<key>image2/hall/createroom/wangfa.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,282},{87,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,23}</string>
			</dict>
			<key>image2/hall/createroom/xianshigps.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,205},{97,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,21}</string>
			</dict>
			<key>image2/hall/createroom/xianshiip.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,306},{76,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,21}</string>
			</dict>
			<key>image2/hall/createroom/yimaquangzhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,375},{94,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,23}</string>
			</dict>
			<key>image2/hall/createroom/zhamashu.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,282},{87,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,23}</string>
			</dict>
			<key>image2/hall/createroom/btn_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,170},{87,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,46}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>createroom_2.png</string>
			<key>realTextureFileName</key>
			<string>createroom_2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>