<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image2/hall/icon_fangka.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,822},{28,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,32}</string>
			</dict>
			<key>image2/hall/icon_jinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1143,424},{40,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,39}</string>
			</dict>
			<key>image2/hall/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1018},{509,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{509,2}</string>
			</dict>
			<key>image2/hall/logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,608},{277,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{277,123}</string>
			</dict>
			<key>image2/hall/namebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,923},{288,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{288,30}</string>
			</dict>
			<key>image2/hall/shopitembg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1030,608},{234,311}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,311}</string>
			</dict>
			<key>image2/hall/title_fangkui.png</key>
			<dict>
				<key>frame</key>
				<string>{{1030,957},{175,48}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{259,63}</string>
			</dict>
			<key>image2/hall/title_goumai.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,424},{93,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,38}</string>
			</dict>
			<key>image2/hall/title_jiaru.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,822},{135,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,39}</string>
			</dict>
			<key>image2/hall/title_shiming.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,932},{135,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,38}</string>
			</dict>
			<key>image2/hall/title_wanfa.png</key>
			<dict>
				<key>frame</key>
				<string>{{1209,957},{173,48}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{259,63}</string>
			</dict>
			<key>image2/hall/title_zhanji.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,794},{107,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,44}</string>
			</dict>
			<key>image2/hall/top_zhanji.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,352},{1024,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1024,68}</string>
			</dict>
			<key>image2/hall/banner.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{485,374}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{485,374}</string>
			</dict>
			<key>image2/hall/bg_zhanji.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,491},{952,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{952,113}</string>
			</dict>
			<key>image2/hall/bottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,976},{1024,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1024,38}</string>
			</dict>
			<key>image2/hall/btn_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1297,188},{160,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,69}</string>
			</dict>
			<key>image2/hall/btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1297,424},{160,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,69}</string>
			</dict>
			<key>image2/hall/btn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1370,424},{160,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,69}</string>
			</dict>
			<key>image2/hall/btn_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1389,588},{160,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,69}</string>
			</dict>
			<key>image2/hall/btn_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1423,752},{160,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,69}</string>
			</dict>
			<key>image2/hall/btn_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1423,825},{160,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,69}</string>
			</dict>
			<key>image2/hall/btn_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1572,898},{160,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,69}</string>
			</dict>
			<key>image2/hall/btn_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1370,2},{160,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,69}</string>
			</dict>
			<key>image2/hall/btn_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1370,166},{160,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,69}</string>
			</dict>
			<key>image2/hall/btn_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1408,330},{160,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,69}</string>
			</dict>
			<key>image2/hall/btn_chongzhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1535,532},{153,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,66}</string>
			</dict>
			<key>image2/hall/btn_createroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,608},{271,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{271,89}</string>
			</dict>
			<key>image2/hall/btn_delete.png</key>
			<dict>
				<key>frame</key>
				<string>{{1443,403},{160,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,69}</string>
			</dict>
			<key>image2/hall/btn_dissroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,608},{182,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,69}</string>
			</dict>
			<key>image2/hall/btn_exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{1386,952},{182,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,69}</string>
			</dict>
			<key>image2/hall/btn_fankui.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,424},{52,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,75}</string>
			</dict>
			<key>image2/hall/btn_goumai.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,424},{80,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,40}</string>
			</dict>
			<key>image2/hall/btn_hongzhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,491},{335,481}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{335,481}</string>
			</dict>
			<key>image2/hall/btn_joinroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,608},{271,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{271,89}</string>
			</dict>
			<key>image2/hall/btn_loginout.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,608},{210,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,69}</string>
			</dict>
			<key>image2/hall/btn_majiangdasai.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,608},{320,215}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,216}</string>
			</dict>
			<key>image2/hall/btn_reset.png</key>
			<dict>
				<key>frame</key>
				<string>{{1462,567},{160,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,69}</string>
			</dict>
			<key>image2/hall/btn_return.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,883},{54,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,36}</string>
			</dict>
			<key>image2/hall/btn_shengqing.png</key>
			<dict>
				<key>frame</key>
				<string>{{1297,2},{182,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,69}</string>
			</dict>
			<key>image2/hall/btn_shiming.png</key>
			<dict>
				<key>frame</key>
				<string>{{1095,424},{44,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,54}</string>
			</dict>
			<key>image2/hall/btn_tuichu.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,424},{52,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,82}</string>
			</dict>
			<key>image2/hall/btn_video.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,932},{64,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,35}</string>
			</dict>
			<key>image2/hall/btn_wanfa.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,424},{51,78}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,78}</string>
			</dict>
			<key>image2/hall/btn_xiaoxi.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,424},{52,77}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,78}</string>
			</dict>
			<key>image2/hall/btn_zhanji.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,424},{48,82}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,82}</string>
			</dict>
			<key>image2/hall/editboxbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,424},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>image2/hall/fk_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1289,902},{160,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,46}</string>
			</dict>
			<key>image2/hall/gold_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1516,403},{125,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,117}</string>
			</dict>
			<key>image2/hall/gold_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1268,796},{151,102}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,117}</string>
			</dict>
			<key>image2/hall/gold_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1268,608},{184,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,117}</string>
			</dict>
			<key>image2/hall/gonggaobg.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,923},{390,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{390,43}</string>
			</dict>
			<key>image2/hall/roomnum_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1038,424},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>hall_2.png</string>
			<key>realTextureFileName</key>
			<string>hall_2.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>