<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>AppPlatform/ui/image/com_tbtn/btn_bianji.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,468},{94,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,55}</string>
			</dict>
			<key>AppPlatform/ui/image/com_tbtn/btn_chuangjian.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,149},{216,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,83}</string>
			</dict>
			<key>AppPlatform/ui/image/com_tbtn/btn_fuzhiID.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,350},{216,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,83}</string>
			</dict>
			<key>AppPlatform/ui/image/com_tbtn/btn_jiaru.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,369},{216,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,83}</string>
			</dict>
			<key>AppPlatform/ui/image/com_tbtn/btn_jinrujulebu.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,570},{216,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,83}</string>
			</dict>
			<key>AppPlatform/ui/image/com_tbtn/btn_queding.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,808},{216,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,83}</string>
			</dict>
			<key>AppPlatform/ui/image/com_tbtn/btn_quxiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,895},{216,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,83}</string>
			</dict>
			<key>AppPlatform/ui/image/com_tbtn/btn_quxiaobianji.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,503},{93,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,55}</string>
			</dict>
			<key>AppPlatform/ui/image/com_tbtn/btn_sousuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,468},{94,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,49}</string>
			</dict>
			<key>AppPlatform/ui/image/com_tbtn/btn_tijiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,790},{216,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,83}</string>
			</dict>
			<key>AppPlatform/ui/image/com_tbtn/btn_tuichuyouxi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,165},{216,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,83}</string>
			</dict>
			<key>AppPlatform/ui/image/com_tbtn/btn_weixindenglu.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,149},{244,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,77}</string>
			</dict>
			<key>AppPlatform/ui/image/com_tbtn/btn_zhuxiaotuichu.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,252},{216,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,83}</string>
			</dict>
			<key>AppPlatform/ui/image/com_tbtn/btn_createClub.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,350},{166,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,49}</string>
			</dict>
			<key>AppPlatform/ui/image/com_tbtn/btn_fankui.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,339},{90,64}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,64}</string>
			</dict>
			<key>AppPlatform/ui/image/com_tbtn/btn_gengduo.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,397},{91,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,64}</string>
			</dict>
			<key>AppPlatform/ui/image/com_tbtn/btn_joinClub.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,520},{166,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,49}</string>
			</dict>
			<key>AppPlatform/ui/image/com_tbtn/btn_kuaisujiaru.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,149},{339,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{339,92}</string>
			</dict>
			<key>AppPlatform/ui/image/com_tbtn/btn_majiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{305,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{305,159}</string>
			</dict>
			<key>AppPlatform/ui/image/com_tbtn/btn_paohuzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,2},{295,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{295,143}</string>
			</dict>
			<key>AppPlatform/ui/image/com_tbtn/btn_puke.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,2},{295,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{295,146}</string>
			</dict>
			<key>AppPlatform/ui/image/com_tbtn/btn_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,690},{114,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,58}</string>
			</dict>
			<key>AppPlatform/ui/image/com_tbtn/btn_wanfa.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,404},{92,60}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,64}</string>
			</dict>
			<key>AppPlatform/ui/image/com_tbtn/btn_xinxi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,407},{92,58}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,64}</string>
			</dict>
			<key>AppPlatform/ui/image/com_tbtn/btn_zhanji.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,339},{93,61}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,64}</string>
			</dict>
			<key>AppPlatform/ui/image/com_tbtn/btn_youkedenglu.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,2},{344,111}}</string>
				<key>offset</key>
				<string>{-6,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{356,111}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>