<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>AppPlatform/ui/image/com_btn/brn_dd.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,2},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>
			<key>AppPlatform/ui/image/com_btn/btn_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,90},{172,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,76}</string>
			</dict>
			<key>AppPlatform/ui/image/com_btn/btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,90},{172,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,76}</string>
			</dict>
			<key>AppPlatform/ui/image/com_btn/btn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,231},{172,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,76}</string>
			</dict>
			<key>AppPlatform/ui/image/com_btn/btn_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,231},{172,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,76}</string>
			</dict>
			<key>AppPlatform/ui/image/com_btn/btn_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,311},{172,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,76}</string>
			</dict>
			<key>AppPlatform/ui/image/com_btn/btn_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,391},{172,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,76}</string>
			</dict>
			<key>AppPlatform/ui/image/com_btn/btn_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,2},{172,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,76}</string>
			</dict>
			<key>AppPlatform/ui/image/com_btn/btn_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,2},{172,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,76}</string>
			</dict>
			<key>AppPlatform/ui/image/com_btn/btn_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,82},{172,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,76}</string>
			</dict>
			<key>AppPlatform/ui/image/com_btn/btn_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,143},{172,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,76}</string>
			</dict>
			<key>AppPlatform/ui/image/com_btn/btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,159},{60,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,77}</string>
			</dict>
			<key>AppPlatform/ui/image/com_btn/btn_chongzhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,244},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,43}</string>
			</dict>
			<key>AppPlatform/ui/image/com_btn/btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,240},{33,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,35}</string>
			</dict>
			<key>AppPlatform/ui/image/com_btn/btn_delete.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,266},{172,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,76}</string>
			</dict>
			<key>AppPlatform/ui/image/com_btn/btn_gonggao.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,143},{93,60}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,64}</string>
			</dict>
			<key>AppPlatform/ui/image/com_btn/btn_gonggao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{224,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,84}</string>
			</dict>
			<key>AppPlatform/ui/image/com_btn/btn_gonggao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,2},{224,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,84}</string>
			</dict>
			<key>AppPlatform/ui/image/com_btn/btn_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,244},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>AppPlatform/ui/image/com_btn/btn_huadong.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,244},{46,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,47}</string>
			</dict>
			<key>AppPlatform/ui/image/com_btn/btn_jia.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,244},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,43}</string>
			</dict>
			<key>AppPlatform/ui/image/com_btn/btn_jiage.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,2},{153,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,60}</string>
			</dict>
			<key>AppPlatform/ui/image/com_btn/btn_left1.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,162},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>AppPlatform/ui/image/com_btn/btn_left2.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,162},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>AppPlatform/ui/image/com_btn/btn_reset.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,82},{172,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,76}</string>
			</dict>
			<key>AppPlatform/ui/image/com_btn/btn_right1.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,162},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>AppPlatform/ui/image/com_btn/btn_right2.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,162},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>AppPlatform/ui/image/com_btn/btn_wxfriend.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,90},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>
			<key>AppPlatform/ui/image/com_btn/btn_wxtime.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,90},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>
			<key>AppPlatform/ui/image/com_btn/btn_fenxiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,240},{55,65}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,65}</string>
			</dict>
			<key>AppPlatform/ui/image/com_btn/btn_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,244},{54,61}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,65}</string>
			</dict>
			<key>AppPlatform/ui/image/com_btn/btn_shiming.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,240},{55,61}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,65}</string>
			</dict>
			<key>AppPlatform/ui/image/com_btn/btn_changeDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,244},{48,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,49}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>