<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>AppPlatform/ui/image/com_other/bar_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,1281},{374,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,29}</string>
			</dict>
			<key>AppPlatform/ui/image/com_other/bar1_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,1281},{376,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,29}</string>
			</dict>
			<key>AppPlatform/ui/image/com_other/fenge.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,2},{63,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,512}</string>
			</dict>
			<key>AppPlatform/ui/image/com_other/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,1281},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>AppPlatform/ui/image/com_other/img_headFrame.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1362},{114,112}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,123}</string>
			</dict>
			<key>AppPlatform/ui/image/com_other/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,382},{2,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,59}</string>
			</dict>
			<key>AppPlatform/ui/image/com_other/loading_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,1281},{202,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{202,24}</string>
			</dict>
			<key>AppPlatform/ui/image/com_other/loading_bar_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1478},{204,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,30}</string>
			</dict>
			<key>AppPlatform/ui/image/com_other/loadingbar2.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,382},{812,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{812,32}</string>
			</dict>
			<key>AppPlatform/ui/image/com_other/loadingbar2_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,212},{806,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{812,32}</string>
			</dict>
			<key>AppPlatform/ui/image/com_other/loadingbar2_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,1362},{114,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,56}</string>
			</dict>
			<key>AppPlatform/ui/image/com_other/logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,1198},{220,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,79}</string>
			</dict>
			<key>AppPlatform/ui/image/com_other/shopUI_card1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1198},{160,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,174}</string>
			</dict>
			<key>AppPlatform/ui/image/com_other/shopUI_card2.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,382},{188,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,143}</string>
			</dict>
			<key>AppPlatform/ui/image/com_other/shopUI_gold1.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,212},{190,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,166}</string>
			</dict>
			<key>AppPlatform/ui/image/com_other/tips_xinxi.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,574},{548,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{548,38}</string>
			</dict>
			<key>AppPlatform/ui/image/com_other/title_majiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,841},{270,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{270,87}</string>
			</dict>
			<key>AppPlatform/ui/image/com_other/title_puke.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,1115},{265,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{265,79}</string>
			</dict>
			<key>AppPlatform/ui/image/com_other/title_zipai.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,574},{263,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{263,90}</string>
			</dict>
			<key>AppPlatform/ui/image/com_other/bg_gonggao.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,1198},{390,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{390,38}</string>
			</dict>
			<key>AppPlatform/ui/image/com_other/img_clubEmpty.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,2},{222,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,206}</string>
			</dict>
			<key>AppPlatform/ui/image/com_other/loginUI_declaration.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{418,399}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{418,399}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>