<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>createRoomImg/poker/tab_fuchuan_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1448,306},{184,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,39}</string>
			</dict>
			<key>createRoomImg/poker/tab_fuchuan_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1636,312},{184,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,39}</string>
			</dict>
			<key>createRoomImg/poker/tab_hezhou_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1715,417},{184,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,39}</string>
			</dict>
			<key>createRoomImg/poker/tab_hezhou_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1758,417},{184,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,39}</string>
			</dict>
			<key>createRoomImg/poker/tab_zhongshan_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1801,417},{184,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,39}</string>
			</dict>
			<key>createRoomImg/poker/tab_zhongshan_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1844,417},{184,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,39}</string>
			</dict>
			<key>createRoomImg/mahjong/tab_wuzhou_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1887,467},{184,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,39}</string>
			</dict>
			<key>createRoomImg/mahjong/tab_wuzhou_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1930,553},{184,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,39}</string>
			</dict>
			<key>createRoomImg/agent_btn_defule.png</key>
			<dict>
				<key>frame</key>
				<string>{{1941,423},{126,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,65}</string>
			</dict>
			<key>createRoomImg/agent_check.png</key>
			<dict>
				<key>frame</key>
				<string>{{1388,90},{126,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,65}</string>
			</dict>
			<key>createRoomImg/agent_enter.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111,134},{126,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,65}</string>
			</dict>
			<key>createRoomImg/agent_share.png</key>
			<dict>
				<key>frame</key>
				<string>{{1379,220},{124,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,65}</string>
			</dict>
			<key>createRoomImg/agent_tab_gaming.png</key>
			<dict>
				<key>frame</key>
				<string>{{1898,91},{184,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,40}</string>
			</dict>
			<key>createRoomImg/agent_tab_gaming1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1973,553},{184,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,40}</string>
			</dict>
			<key>createRoomImg/agent_tab_over.png</key>
			<dict>
				<key>frame</key>
				<string>{{1897,279},{184,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,40}</string>
			</dict>
			<key>createRoomImg/agent_tab_over1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,135},{184,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,40}</string>
			</dict>
			<key>createRoomImg/agent_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1942,229},{190,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,59}</string>
			</dict>
			<key>createRoomImg/agent_witness.png</key>
			<dict>
				<key>frame</key>
				<string>{{1180,198},{126,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,65}</string>
			</dict>
			<key>createRoomImg/btn_area_guilin_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1466,89},{177,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,129}</string>
			</dict>
			<key>createRoomImg/btn_area_guilin_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{197,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,129}</string>
			</dict>
			<key>createRoomImg/btn_area_hezhou_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1717,309},{176,104}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,129}</string>
			</dict>
			<key>createRoomImg/btn_area_hezhou_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,2},{197,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,129}</string>
			</dict>
			<key>createRoomImg/btn_area_liuzhou_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1717,200},{176,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,129}</string>
			</dict>
			<key>createRoomImg/btn_area_liuzhou_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,2},{197,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,129}</string>
			</dict>
			<key>createRoomImg/btn_area_nanning_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1717,91},{177,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,129}</string>
			</dict>
			<key>createRoomImg/btn_area_nanning_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,2},{197,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,129}</string>
			</dict>
			<key>createRoomImg/btn_area_wuzhou_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1457,198},{175,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,129}</string>
			</dict>
			<key>createRoomImg/btn_area_wuzhou_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,2},{197,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,129}</string>
			</dict>
			<key>createRoomImg/btn_cjfj.png</key>
			<dict>
				<key>frame</key>
				<string>{{1466,2},{254,83}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,86}</string>
			</dict>
			<key>createRoomImg/btn_continue_create.png</key>
			<dict>
				<key>frame</key>
				<string>{{1724,2},{223,85}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{223,87}</string>
			</dict>
			<key>createRoomImg/btn_delete.png</key>
			<dict>
				<key>frame</key>
				<string>{{1310,198},{126,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,65}</string>
			</dict>
			<key>createRoomImg/btn_dkfj.png</key>
			<dict>
				<key>frame</key>
				<string>{{1208,2},{254,84}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,86}</string>
			</dict>
			<key>createRoomImg/btn_enterroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{1951,2},{223,84}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{223,87}</string>
			</dict>
			<key>createRoomImg/btn_zipai_guilin_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1208,90},{176,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,129}</string>
			</dict>
			<key>createRoomImg/btn_zipai_guilin_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,2},{197,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,129}</string>
			</dict>
			<key>createRoomImg/btnClose.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,135},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>createRoomImg/chuangjianfangjian.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,221},{131,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,37}</string>
			</dict>
			<key>createRoomImg/daikaifangjian_txt.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,135},{131,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,36}</string>
			</dict>
			<key>createRoomImg/dx_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1679,388},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>createRoomImg/dx_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1679,424},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>createRoomImg/fx_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1679,352},{32,33}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,36}</string>
			</dict>
			<key>createRoomImg/fx_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1679,312},{34,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,36}</string>
			</dict>
			<key>createRoomImg/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{2039,2},{711,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{711,3}</string>
			</dict>
			<key>createRoomImg/s9_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,134},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>createRoomImg/text_create.png</key>
			<dict>
				<key>frame</key>
				<string>{{1647,89},{219,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{219,66}</string>
			</dict>
			<key>createRoomImg/text_fan_xing_she_zhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,182},{128,37}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,38}</string>
			</dict>
			<key>createRoomImg/text_fanxin.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,209},{129,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,35}</string>
			</dict>
			<key>createRoomImg/text_gui_pai_gui_zhe.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,221},{126,38}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,38}</string>
			</dict>
			<key>createRoomImg/text_jushu.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,178},{131,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,38}</string>
			</dict>
			<key>createRoomImg/text_paozi.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,135},{147,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,43}</string>
			</dict>
			<key>createRoomImg/text_wanfa.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,178},{131,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,39}</string>
			</dict>
			<key>createRoomImg/text_zhama.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,175},{130,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,35}</string>
			</dict>
			<key>createRoomImg/text_zhuama.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,221},{132,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,37}</string>
			</dict>
			<key>createRoomImg/text_zi_mo_suan_fa.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,209},{120,38}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,38}</string>
			</dict>
			<key>createRoomImg/text_zi_su_suan_fa.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,135},{123,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,38}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>createroom.png</string>
			<key>realTextureFileName</key>
			<string>createroom.png</string>
			<key>size</key>
			<string>{2044,739}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2044</integer>
			<key>height</key>
			<integer>739</integer>
		</dict>
	</dict>
</plist>