<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>commImg/public/public_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,749},{71,70}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>commImg/public/public_headnull.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,749},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>commImg/public/public_box3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2003,2},{153,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,31}</string>
			</dict>
			<key>commImg/public/bg_bottom1.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,957},{56,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,87}</string>
			</dict>
			<key>commImg/public/bg_bottom2.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,749},{66,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,75}</string>
			</dict>
			<key>commImg/public/black_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,881},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>commImg/public/btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,749},{223,83}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{223,87}</string>
			</dict>
			<key>commImg/public/btn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,749},{223,83}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{223,87}</string>
			</dict>
			<key>commImg/public/btn_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1913,260},{258,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{258,82}</string>
			</dict>
			<key>commImg/public/btn_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1913,2},{254,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{254,86}</string>
			</dict>
			<key>commImg/public/btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,828},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>commImg/public/btnReturn.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,749},{59,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,75}</string>
			</dict>
			<key>commImg/public/panel_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,749},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>commImg/public/panel_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,853},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>commImg/public/panel_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,749},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>commImg/public/panel_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,853},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>commImg/public/panel_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,881},{119,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,117}</string>
			</dict>
			<key>commImg/public/tile_pointer.png</key>
			<dict>
				<key>frame</key>
				<string>{{2003,228},{37,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,45}</string>
			</dict>
			<key>commImg/public/info_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{1136,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1136,132}</string>
			</dict>
			<key>commImg/public/Loading_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1142,2},{725,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{725,61}</string>
			</dict>
			<key>commImg/public/Loading_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1871,2},{701,38}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{701,39}</string>
			</dict>
			<key>commImg/public/loading_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2003,159},{43,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,67}</string>
			</dict>
			<key>commImg/public/btnCancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{1913,522},{223,84}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{223,87}</string>
			</dict>
			<key>commImg/public/btnSure.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,749},{222,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{222,84}</string>
			</dict>
			<key>commImg/public/messagebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,957},{142,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,53}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>public.png</string>
			<key>realTextureFileName</key>
			<string>public.png</string>
			<key>size</key>
			<string>{2048,1015}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1015</integer>
		</dict>
	</dict>
</plist>