<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Manager/Activity/ActivityImage/Common/bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,744},{224,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,60}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/Common/bg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,243},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/Common/btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,400},{71,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,72}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/Common/btn3.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,478},{71,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,72}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/Common/btn4.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,400},{64,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,71}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/Common/btn5.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,556},{71,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,72}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/Common/close_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,477},{64,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,65}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/Common/dh_btn_no_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,885},{208,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,45}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/Common/dh_btn_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,349},{208,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,45}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/Common/dh_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,942},{355,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{355,42}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/Common/hdjs.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,426},{119,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,95}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/Common/xiugai_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,744},{215,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,67}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/Common/zj_btn_no_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,109},{208,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,45}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/Common/zj_btn_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,160},{208,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,45}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/Common/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,3},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/Common/bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,109},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/Common/bg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,215},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/Common/bg5.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,3},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/Common/bg6.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,898},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/Common/bg7.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,898},{164,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,34}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/Common/bg8.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,898},{164,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,35}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/Common/btn_tijiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,817},{185,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,76}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/Common/title1.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,936},{184,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,56}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/Common/tmp_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{184,234}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,234}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/Common/zwks.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,551},{118,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,95}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/Common/gg_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,696},{355,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{355,42}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/Common/btn_duihuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,938},{185,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,76}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/Common/btn_fangqi.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,817},{185,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,76}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/Common/bg9.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,243},{164,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,177}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/Common/bg10.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,634},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/Common/btn_qq.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,3},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/Common/btn_wx.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,3},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/Common/btn_zfb.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,211},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/Common/btn_share.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,810},{178,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,69}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/Common/ac_btn_no_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,696},{240,84}}</string>
				<key>offset</key>
				<string>{-6,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{264,92}</string>
			</dict>
			<key>Manager/Activity/ActivityImage/Common/ac_btn_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,426},{264,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{264,92}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>common.png</string>
			<key>realTextureFileName</key>
			<string>common.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>