<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image2/activity3/bottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,291},{1024,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1024,93}</string>
			</dict>
			<key>image2/activity3/bound_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,1136},{157,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,157}</string>
			</dict>
			<key>image2/activity3/bound_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,1136},{157,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,157}</string>
			</dict>
			<key>image2/activity3/bound_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,1135},{157,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,157}</string>
			</dict>
			<key>image2/activity3/bound_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,1135},{157,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,157}</string>
			</dict>
			<key>image2/activity3/btn_choujiang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,1714},{235,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{235,61}</string>
			</dict>
			<key>image2/activity3/btn_choujiang10.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,1811},{235,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,61}</string>
			</dict>
			<key>image2/activity3/btn_choujiangfudai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1306,2},{118,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,35}</string>
			</dict>
			<key>image2/activity3/btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1836},{67,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,120}</string>
			</dict>
			<key>image2/activity3/btn_fangka.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,1876},{235,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,59}</string>
			</dict>
			<key>image2/activity3/btn_hecheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,1939},{235,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,59}</string>
			</dict>
			<key>image2/activity3/btn_hongbao.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,1466},{235,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,59}</string>
			</dict>
			<key>image2/activity3/btn_lingqu.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,329},{77,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,66}</string>
			</dict>
			<key>image2/activity3/btn_main.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,329},{77,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,66}</string>
			</dict>
			<key>image2/activity3/btn_myres.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,2},{118,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,35}</string>
			</dict>
			<key>image2/activity3/btn_myreward.png</key>
			<dict>
				<key>frame</key>
				<string>{{1270,1794},{185,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,59}</string>
			</dict>
			<key>image2/activity3/btn_rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,124},{53,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,56}</string>
			</dict>
			<key>image2/activity3/btn_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{1467,1911},{185,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,59}</string>
			</dict>
			<key>image2/activity3/editboxbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,1786},{70,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,30}</string>
			</dict>
			<key>image2/activity3/eff_activity_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1240,1684},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>image2/activity3/eff_activity_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1158,1800},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>image2/activity3/eff_activity_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,1684},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>image2/activity3/eff_activity_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,1566},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>image2/activity3/eff_fudai_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,1325},{248,209}}</string>
				<key>offset</key>
				<string>{-25,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{298,217}</string>
			</dict>
			<key>image2/activity3/eff_fudai_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,894},{256,212}}</string>
				<key>offset</key>
				<string>{21,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{298,217}</string>
			</dict>
			<key>image2/activity3/eff_fudai_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,1577},{252,205}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{298,217}</string>
			</dict>
			<key>image2/activity3/eff_fudai_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,1323},{245,205}}</string>
				<key>offset</key>
				<string>{-4,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{298,217}</string>
			</dict>
			<key>image2/activity3/eff_light_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,2},{342,323}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{342,323}</string>
			</dict>
			<key>image2/activity3/eff_light_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,291},{311,300}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{342,323}</string>
			</dict>
			<key>image2/activity3/eff_light_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,615},{279,275}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{342,323}</string>
			</dict>
			<key>image2/activity3/eff_light_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,1327},{248,254}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{342,323}</string>
			</dict>
			<key>image2/activity3/eff_light_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,1572},{202,188}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{342,323}</string>
			</dict>
			<key>image2/activity3/icon500.png</key>
			<dict>
				<key>frame</key>
				<string>{{1473,106},{97,90}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>image2/activity3/icon501.png</key>
			<dict>
				<key>frame</key>
				<string>{{1350,2},{97,87}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>image2/activity3/icon505.png</key>
			<dict>
				<key>frame</key>
				<string>{{1137,2},{96,83}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>image2/activity3/icon506.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,329},{86,90}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>image2/activity3/iconfudai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1137,202},{90,88}}</string>
				<key>offset</key>
				<string>{5,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>image2/activity3/kongxiangzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,291},{320,279}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,281}</string>
			</dict>
			<key>image2/activity3/res_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,1623},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>image2/activity3/res_bound.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,1321},{137,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,141}</string>
			</dict>
			<key>image2/activity3/T1_table.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,184},{70,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,39}</string>
			</dict>
			<key>image2/activity3/T2_table.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,258},{70,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,39}</string>
			</dict>
			<key>image2/activity3/table_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1012,329},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>image2/activity3/table_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,399},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>image2/activity3/text_activitytime.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,1319},{284,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{284,18}</string>
			</dict>
			<key>image2/activity3/text_club.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1960},{57,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,21}</string>
			</dict>
			<key>image2/activity3/text_clubid.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,1929},{103,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,18}</string>
			</dict>
			<key>image2/activity3/text_clubname.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,1607},{103,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,19}</string>
			</dict>
			<key>image2/activity3/text_dayingjia.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,1110},{92,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,21}</string>
			</dict>
			<key>image2/activity3/text_fangkanum.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,1297},{91,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,23}</string>
			</dict>
			<key>image2/activity3/text_fudai.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,1929},{45,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,18}</string>
			</dict>
			<key>image2/activity3/text_fudainum.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,1297},{95,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,24}</string>
			</dict>
			<key>image2/activity3/text_fudan.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,1929},{45,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,18}</string>
			</dict>
			<key>image2/activity3/text_fudannum.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,1296},{91,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,23}</string>
			</dict>
			<key>image2/activity3/text_hongbao.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,1297},{137,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,23}</string>
			</dict>
			<key>image2/activity3/text_huizhang.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,1296},{39,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,21}</string>
			</dict>
			<key>image2/activity3/text_jiangli.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,1701},{131,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,33}</string>
			</dict>
			<key>image2/activity3/text_jiangli1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1028,1778},{38,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,21}</string>
			</dict>
			<key>image2/activity3/text_paiming.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,1929},{83,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,18}</string>
			</dict>
			<key>image2/activity3/text_paixing.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,1296},{39,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,21}</string>
			</dict>
			<key>image2/activity3/text_rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,1786},{74,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,21}</string>
			</dict>
			<key>image2/activity3/text_renwu.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,1778},{39,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,21}</string>
			</dict>
			<key>image2/activity3/text_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,1529},{131,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,33}</string>
			</dict>
			<key>image2/activity3/text_wangcheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,1110},{75,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,21}</string>
			</dict>
			<key>image2/activity3/text_wanjiajiangli.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,1786},{74,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,21}</string>
			</dict>
			<key>image2/activity3/tishi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1319},{513,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{513,69}</string>
			</dict>
			<key>image2/activity3/tishi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,595},{418,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{418,149}</string>
			</dict>
			<key>image2/activity3/tishi3.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,1749},{495,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{495,69}</string>
			</dict>
			<key>image2/activity3/tishi4.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,291},{578,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{578,28}</string>
			</dict>
			<key>image2/activity3/title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,1822},{369,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{369,103}</string>
			</dict>
			<key>image2/activity3/title_choujiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,1951},{195,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,47}</string>
			</dict>
			<key>image2/activity3/title_daoju.png</key>
			<dict>
				<key>frame</key>
				<string>{{1577,2},{190,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,48}</string>
			</dict>
			<key>image2/activity3/title_paiming.png</key>
			<dict>
				<key>frame</key>
				<string>{{1245,1912},{218,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,52}</string>
			</dict>
			<key>image2/activity3/title_xincunzhufu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1270,1857},{199,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,50}</string>
			</dict>
			<key>image2/activity3/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,1017},{728,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{728,74}</string>
			</dict>
			<key>image2/activity3/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,1017},{728,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{728,52}</string>
			</dict>
			<key>image2/activity3/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,595},{728,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{728,63}</string>
			</dict>
			<key>image2/activity3/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{728,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{728,285}</string>
			</dict>
			<key>image2/activity3/bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1473,2},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>image2/activity3/title_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,1953},{730,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{730,39}</string>
			</dict>
			<key>image2/activity3/text_hongbao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,1585},{350,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,150}</string>
			</dict>
			<key>image2/activity3/text_hongbao3.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,1836},{402,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{402,107}</string>
			</dict>
			<key>image2/activity3/text_wangjiapaiming.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,1296},{74,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,21}</string>
			</dict>
			<key>image2/activity3/text_clubchengyuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,1110},{93,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,21}</string>
			</dict>
			<key>image2/activity3/text_fudannum2.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,1786},{75,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,21}</string>
			</dict>
			<key>image2/activity3/btn_cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{1656,2},{185,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,59}</string>
			</dict>
			<key>image2/activity3/btn_lingqujiangli.png</key>
			<dict>
				<key>frame</key>
				<string>{{1845,2},{185,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,59}</string>
			</dict>
			<key>image2/activity3/btn_return.png</key>
			<dict>
				<key>frame</key>
				<string>{{1235,2},{67,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,120}</string>
			</dict>
			<key>image2/activity3/btn_sure.png</key>
			<dict>
				<key>frame</key>
				<string>{{1908,2},{185,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,59}</string>
			</dict>
			<key>image2/activity3/clubbuttom.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,595},{1024,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1024,85}</string>
			</dict>
			<key>image2/activity3/fudai_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,894},{238,234}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{238,234}</string>
			</dict>
			<key>image2/activity3/icon502.png</key>
			<dict>
				<key>frame</key>
				<string>{{1137,102},{96,83}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>image2/activity3/icon503.png</key>
			<dict>
				<key>frame</key>
				<string>{{1345,93},{96,83}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>image2/activity3/icon504.png</key>
			<dict>
				<key>frame</key>
				<string>{{1235,126},{96,83}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>activity3.png</string>
			<key>realTextureFileName</key>
			<string>activity3.png</string>
			<key>size</key>
			<string>{1969,2000}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1969</integer>
			<key>height</key>
			<integer>2000</integer>
		</dict>
	</dict>
</plist>