<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image2/effect/qixiaodui/fire1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1312,3},{131,142}}</string>
				<key>offset</key>
				<string>{-10,-164}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{333,544}</string>
			</dict>
			<key>image2/effect/qixiaodui/fire2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1093,3},{213,368}}</string>
				<key>offset</key>
				<string>{-8,-55}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{333,544}</string>
			</dict>
			<key>image2/effect/qixiaodui/fire3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{333,544}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{333,544}</string>
			</dict>
			<key>image2/effect/qixiaodui/fire4.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,553},{333,544}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{333,544}</string>
			</dict>
			<key>image2/effect/qixiaodui/fire5.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,3},{333,544}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{333,544}</string>
			</dict>
			<key>image2/effect/qixiaodui/fire6.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,553},{333,544}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{333,544}</string>
			</dict>
			<key>image2/effect/qixiaodui/fire7.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,3},{202,514}}</string>
				<key>offset</key>
				<string>{-6,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{333,544}</string>
			</dict>
			<key>image2/effect/qixiaodui/fire8.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,3},{198,519}}</string>
				<key>offset</key>
				<string>{-10,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{333,544}</string>
			</dict>
			<key>image2/effect/qixiaodui/fire9.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,892},{20,451}}</string>
				<key>offset</key>
				<string>{-9,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{333,544}</string>
			</dict>
			<key>image2/effect/qixiaodui/qixiaodui.png</key>
			<dict>
				<key>frame</key>
				<string>{{1093,377},{328,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{328,132}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>