<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,1484},{203,174}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,174}}</string>
                <key>sourceSize</key>
                <string>{207,176}</string>
            </dict>
            <key>action_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,1282},{203,176}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,176}}</string>
                <key>sourceSize</key>
                <string>{207,176}</string>
            </dict>
            <key>action_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,622},{116,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,119}}</string>
                <key>sourceSize</key>
                <string>{116,119}</string>
            </dict>
            <key>action_peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,1308},{203,174}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,174}}</string>
                <key>sourceSize</key>
                <string>{207,176}</string>
            </dict>
            <key>gonggang/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{681,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{681,383}}</string>
                <key>sourceSize</key>
                <string>{681,383}</string>
            </dict>
            <key>gonggang/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1341,236},{49,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,57}}</string>
                <key>sourceSize</key>
                <string>{49,57}</string>
            </dict>
            <key>gonggang/lighter/lighter1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1957,498},{78,78}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,121},{78,78}}</string>
                <key>sourceSize</key>
                <string>{332,320}</string>
            </dict>
            <key>gonggang/lighter/lighter2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1439},{280,280}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,34},{280,280}}</string>
                <key>sourceSize</key>
                <string>{332,320}</string>
            </dict>
            <key>gonggang/lighter/lighter3.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,864},{290,290}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{290,290}}</string>
                <key>sourceSize</key>
                <string>{332,320}</string>
            </dict>
            <key>gonggang/lighter/lighter4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1749,2},{296,296}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,22},{296,296}}</string>
                <key>sourceSize</key>
                <string>{332,320}</string>
            </dict>
            <key>gonggang/lighter/lighter5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1339,632},{294,294}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{294,294}}</string>
                <key>sourceSize</key>
                <string>{332,320}</string>
            </dict>
            <key>gonggang/lighter/lighter6.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1721},{272,272}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,28},{272,272}}</string>
                <key>sourceSize</key>
                <string>{332,320}</string>
            </dict>
            <key>gonggang/lighter/lighter7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,1542},{230,226}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,49},{230,226}}</string>
                <key>sourceSize</key>
                <string>{332,320}</string>
            </dict>
            <key>gonggang/word1.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,438},{113,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,98}}</string>
                <key>sourceSize</key>
                <string>{113,98}</string>
            </dict>
            <key>gonggang/word2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,840},{136,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,128}}</string>
                <key>sourceSize</key>
                <string>{136,128}</string>
            </dict>
            <key>hu/hu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1428},{253,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,254}}</string>
                <key>sourceSize</key>
                <string>{253,254}</string>
            </dict>
            <key>hu/huword.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,1308},{232,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,232}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>hu/light/light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,1104},{160,176}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,139},{160,176}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1053},{182,290}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,37},{182,290}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light11.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1344},{192,282}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,36},{192,282}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,1100},{206,286}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,38},{206,286}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light13.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1377},{182,282}}</string>
                <key>offset</key>
                <string>{-12,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,43},{182,282}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light14.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1561},{158,280}}</string>
                <key>offset</key>
                <string>{-13,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,44},{158,280}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,1104},{176,284}}</string>
                <key>offset</key>
                <string>{-12,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,45},{176,284}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light16.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1721},{176,280}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,39},{176,280}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light17.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1156},{186,286}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,36},{186,286}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light18.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1024},{192,286}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,42},{192,286}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light19.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1683},{208,254}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,54},{208,254}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,1487},{172,220}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,104},{172,220}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,1683},{222,242}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,68},{222,242}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,1282},{260,242}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,85},{260,242}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,811},{300,240}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,104},{300,240}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,2},{336,236}}</string>
                <key>offset</key>
                <string>{-2,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,119},{336,236}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,2},{360,232}}</string>
                <key>offset</key>
                <string>{-1,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,134},{360,232}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light25.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,2},{362,222}}</string>
                <key>offset</key>
                <string>{0,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,146},{362,222}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light26.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,226},{338,210}}</string>
                <key>offset</key>
                <string>{-1,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,146},{338,210}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light27.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,601},{302,210}}</string>
                <key>offset</key>
                <string>{1,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,141},{302,210}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light28.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,387},{304,212}}</string>
                <key>offset</key>
                <string>{3,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,139},{304,212}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,236},{314,210}}</string>
                <key>offset</key>
                <string>{15,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,140},{314,210}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light3.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1538},{180,258}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,71},{180,258}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{304,216}}</string>
                <key>offset</key>
                <string>{18,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,134},{304,216}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light31.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,622},{298,216}}</string>
                <key>offset</key>
                <string>{13,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,133},{298,216}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,300},{308,196}}</string>
                <key>offset</key>
                <string>{11,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,139},{308,196}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1649,498},{306,186}}</string>
                <key>offset</key>
                <string>{14,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,156},{306,186}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,240},{312,190}}</string>
                <key>offset</key>
                <string>{13,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,155},{312,190}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1341,432},{306,198}}</string>
                <key>offset</key>
                <string>{10,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,153},{306,198}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1237},{284,200}}</string>
                <key>offset</key>
                <string>{12,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,154},{284,200}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1721},{280,204}}</string>
                <key>offset</key>
                <string>{6,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,150},{280,204}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light38.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1218},{282,208}}</string>
                <key>offset</key>
                <string>{4,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,145},{282,208}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,896},{294,202}}</string>
                <key>offset</key>
                <string>{1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,140},{294,202}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light4.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1721},{170,278}}</string>
                <key>offset</key>
                <string>{9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,42},{170,278}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,605},{302,204}}</string>
                <key>offset</key>
                <string>{-4,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,147},{302,204}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light41.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1005},{290,208}}</string>
                <key>offset</key>
                <string>{2,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,147},{290,208}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light42.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,650},{298,212}}</string>
                <key>offset</key>
                <string>{2,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,143},{298,212}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light43.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,438},{302,210}}</string>
                <key>offset</key>
                <string>{2,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,146},{302,210}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,686},{294,208}}</string>
                <key>offset</key>
                <string>{-3,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,146},{294,208}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light5.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1215},{160,286}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,30},{160,286}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,448},{172,300}}</string>
                <key>offset</key>
                <string>{2,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,22},{172,300}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,928},{174,292}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,27},{174,292}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light8.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,840},{182,292}}</string>
                <key>offset</key>
                <string>{-7,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,30},{182,292}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
            <key>hu/light/light9.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,813},{190,296}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,33},{190,296}}</string>
                <key>sourceSize</key>
                <string>{362,394}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f74b5229bd11ca31724df012d63bba86:1/1$</string>
            <key>textureFileName</key>
            <string>effect2.png</string>
        </dict>
    </dict>
</plist>
