<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pillangry01.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,70},{90,90}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{90,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillangry02.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,34},{94,84}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{94,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillangry03.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,34},{96,84}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{96,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillangry04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{94,84}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{94,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillbang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,92},{88,100}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{88,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillbang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{98,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillbang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{98,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillbang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{92,100}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillbang05.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,102},{70,76}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,24},{70,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillbang06.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{88,100}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{88,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillcool01.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,686},{64,84}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillcool02.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,626},{64,84}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillcool03.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,578},{64,84}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillcool04.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,560},{64,84}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillcool05.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,524},{64,84}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillcool06.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,506},{64,84}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillcry01.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,448},{64,84}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillcry02.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,444},{64,84}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillcry03.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,444},{64,84}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillcry04.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,404},{64,84}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillcry05.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,404},{64,84}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillcry06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{64,84}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillcry07.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,600},{64,84}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillcry08.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,560},{64,84}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillcry09.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,512},{64,84}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillcry10.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,494},{64,84}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillcry11.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,458},{64,84}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillcube01.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,440},{64,84}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillcube02.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,382},{64,84}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillcube03.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,440},{64,84}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillcube04.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,382},{64,84}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillembarrass01.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,378},{64,84}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillembarrass02.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,378},{64,84}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillfaint01.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,338},{64,84}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillfaint02.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,338},{64,84}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillfaint03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{64,84}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillfaint04.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,514},{64,84}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillfaint05.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,494},{64,84}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillfaint06.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,446},{64,84}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillfaint07.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,428},{64,84}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillfaint08.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,392},{64,84}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillfaint09.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,374},{64,84}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillfaint10.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,316},{64,84}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillfaint11.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,312},{64,84}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillfaint12.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,312},{64,84}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillhoho01.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,188},{82,84}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,15},{82,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillhoho02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{82,84}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,15},{82,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillhoho03.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,102},{80,84}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,15},{80,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillhoho04.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,188},{82,84}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,15},{82,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillhoho05.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,102},{80,84}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,15},{80,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillhoho06.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,188},{82,84}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,15},{82,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pilljiong01.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,378},{64,84}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pilljiong02.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,378},{64,84}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pilllove1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,272},{64,84}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pilllove2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,272},{64,84}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillmoney07.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,428},{64,84}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillmoney08.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,428},{64,84}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillmoney09.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,380},{64,84}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillmoney10.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,362},{64,84}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillmoney11.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,362},{64,84}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillmoney12.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,314},{64,84}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillpitful01.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,296},{64,84}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillpitful02.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,326},{64,84}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillsad01.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,296},{64,84}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillsad02.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,248},{64,84}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillsad03.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,230},{64,84}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillsad04.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,308},{64,84}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillsad05.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,260},{64,84}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillsad06.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,230},{64,84}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillsad07.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,182},{64,84}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillsad08.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,250},{64,84}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillsad09.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,242},{64,84}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillsad10.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,246},{64,84}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillsad11.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,184},{64,84}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillsad12.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,176},{64,84}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillthief01.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,102},{66,88}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{66,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillthief02.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,120},{66,88}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{66,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillthief03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{66,88}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{66,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillthief04.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,120},{66,88}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{66,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillthief05.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,100},{66,88}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{66,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillthief06.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,34},{66,88}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{66,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillthief07.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,162},{66,88}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{66,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillwhat01.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,102},{72,84}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{72,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillwhat02.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,168},{66,86}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,14},{66,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillwhat03.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,34},{64,94}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,6},{64,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillwhat04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{64,98}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,2},{64,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillwhat05.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,96},{64,98}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,2},{64,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillwhat06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{64,98}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,2},{64,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillwhat07.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,34},{64,94}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,6},{64,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillwhat08.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,168},{66,86}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,14},{66,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillwhat09.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,102},{72,84}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{72,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillwhistle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,236},{74,84}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,15},{74,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillwhistle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{66,92}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,7},{66,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillwhistle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,236},{74,84}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,15},{74,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillwhistle04.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,162},{66,84}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,15},{66,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillwhistle05.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,170},{74,84}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,15},{74,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pillwhistle06.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,174},{64,84}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>saying0.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{128,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,30}}</string>
                <key>sourceSize</key>
                <string>{128,30}</string>
            </dict>
            <key>saying1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{128,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,30}}</string>
                <key>sourceSize</key>
                <string>{128,30}</string>
            </dict>
            <key>saying2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{128,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,30}}</string>
                <key>sourceSize</key>
                <string>{128,30}</string>
            </dict>
            <key>saying3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,30}}</string>
                <key>sourceSize</key>
                <string>{128,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>emoji.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db838069c5de332f38eef52fb55ad49e:1/1$</string>
            <key>textureFileName</key>
            <string>emoji.png</string>
        </dict>
    </dict>
</plist>
