<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>angry0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{236,212}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{236,212}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>angry0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{234,222}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>angry0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{236,222}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{236,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>angry0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,206}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{240,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>angry0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{238,222}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>angry0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{238,222}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>angry0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,226},{234,222}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{234,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>angry0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,226},{234,202}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{234,202}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>angry0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{236,212}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{236,212}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>angry0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{234,222}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>angry0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{236,222}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{236,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>angry0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,206}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{240,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>angry0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{238,222}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>angry0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{238,222}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>angry0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,226},{234,222}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{234,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>angry0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,226},{234,202}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{234,202}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>common0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,886},{174,208}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,29},{174,208}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>common0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,886},{174,208}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,29},{174,208}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>common0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1362},{174,206}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,31},{174,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>common0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1062},{176,206}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,31},{176,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>common0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1270},{180,202}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,35},{180,202}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>common0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1174},{176,206}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,31},{176,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>common0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1240},{174,206}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,31},{174,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>common0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1352},{174,206}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,31},{174,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>common0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1204},{174,206}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,31},{174,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>common0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1186},{174,206}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,31},{174,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>common0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1186},{174,206}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,31},{174,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>common0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1186},{174,206}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,31},{174,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>common0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1186},{174,206}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,31},{174,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>common0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1186},{174,206}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,31},{174,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>common0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1186},{174,206}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,31},{174,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>common0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1186},{174,206}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,31},{174,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>common0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1186},{174,206}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,31},{174,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>common0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1186},{174,206}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,31},{174,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>common0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1062},{174,206}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,31},{174,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>common0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,886},{174,208}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,29},{174,208}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>cool0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,688},{196,212}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,28},{196,212}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>cool0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1000},{202,206}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,34},{202,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>cool0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1416},{204,204}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,36},{204,204}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>cool0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{198,210}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,30},{198,210}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>cool0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{196,212}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,28},{196,212}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>cool0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,982},{202,206}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,34},{202,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>cool0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1528},{204,204}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,36},{204,204}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>cool0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,800},{198,210}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,30},{198,210}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>cool0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,688},{196,212}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,28},{196,212}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>cool0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1000},{202,206}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,34},{202,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>cool0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1380},{204,204}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,36},{204,204}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>cool0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,782},{198,210}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,30},{198,210}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>cry0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,688},{210,114}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,75},{210,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>cry0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,686},{214,112}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,77},{214,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>cry0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,664},{216,116}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,74},{216,116}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>cry0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,574},{220,112}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,78},{220,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>cry0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{224,116}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,75},{224,116}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>cry0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,570},{226,114}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,78},{226,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>cry0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,454},{230,118}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,74},{230,118}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>cry0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,548},{230,114}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,78},{230,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>cry0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,450},{230,118}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,75},{230,118}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>cry0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,430},{232,116}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,77},{232,116}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>cry0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,334},{234,118}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,75},{234,118}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>cry0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,216},{236,116}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,77},{236,116}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>emoji_new1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37ed23df86f1f1341a75a0c7b3a27467:1/1$</string>
            <key>textureFileName</key>
            <string>emoji_new1.png</string>
        </dict>
    </dict>
</plist>
