<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_cancel_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,275},{243,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,78}}</string>
                <key>sourceSize</key>
                <string>{243,78}</string>
            </dict>
            <key>btn_closeroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,195},{243,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,78}}</string>
                <key>sourceSize</key>
                <string>{243,78}</string>
            </dict>
            <key>btn_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,192},{61,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,33}}</string>
                <key>sourceSize</key>
                <string>{61,33}</string>
            </dict>
            <key>btn_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,396},{79,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,70}}</string>
                <key>sourceSize</key>
                <string>{79,70}</string>
            </dict>
            <key>btn_dimissroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,189},{47,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,70}}</string>
                <key>sourceSize</key>
                <string>{47,70}</string>
            </dict>
            <key>btn_exitgame.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,395},{58,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,68}}</string>
                <key>sourceSize</key>
                <string>{58,68}</string>
            </dict>
            <key>btn_msg.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,261},{54,62}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{54,62}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>btn_select_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,261},{91,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,38}}</string>
                <key>sourceSize</key>
                <string>{91,38}</string>
            </dict>
            <key>btn_select_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,355},{91,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,38}}</string>
                <key>sourceSize</key>
                <string>{91,38}</string>
            </dict>
            <key>btnpage1.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,396},{100,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,43}}</string>
                <key>sourceSize</key>
                <string>{100,43}</string>
            </dict>
            <key>btnpage2.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,261},{100,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,43}}</string>
                <key>sourceSize</key>
                <string>{100,43}</string>
            </dict>
            <key>creatRoomUI_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{354,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,111}}</string>
                <key>sourceSize</key>
                <string>{354,111}</string>
            </dict>
            <key>creatRoomUI_checkboxBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,358},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>creatRoomUI_checkmark.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,427},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>creatRoomUI_txt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,74},{112,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,30}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>creatRoomUI_txt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,459},{45,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,31}}</string>
                <key>sourceSize</key>
                <string>{45,31}</string>
            </dict>
            <key>creatRoomUI_txt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,325},{45,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,31}}</string>
                <key>sourceSize</key>
                <string>{45,31}</string>
            </dict>
            <key>creatRoomUI_txt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,466},{45,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,31}}</string>
                <key>sourceSize</key>
                <string>{45,31}</string>
            </dict>
            <key>creatRoomUI_txt_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,466},{45,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,31}}</string>
                <key>sourceSize</key>
                <string>{45,31}</string>
            </dict>
            <key>creatRoomUI_txt_canwatch.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,103},{87,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,31}}</string>
                <key>sourceSize</key>
                <string>{87,31}</string>
            </dict>
            <key>creatRoomUI_txt_gps.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,441},{100,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,29}}</string>
                <key>sourceSize</key>
                <string>{100,29}</string>
            </dict>
            <key>creatRoomUI_txt_maNumber.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,395},{96,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,30}}</string>
                <key>sourceSize</key>
                <string>{96,30}</string>
            </dict>
            <key>creatRoomUI_txt_ml.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,74},{113,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,30}}</string>
                <key>sourceSize</key>
                <string>{113,30}</string>
            </dict>
            <key>creatRoomUI_txt_other.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,466},{96,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,30}}</string>
                <key>sourceSize</key>
                <string>{96,30}</string>
            </dict>
            <key>creatRoomUI_txt_playtype.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,434},{96,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,30}}</string>
                <key>sourceSize</key>
                <string>{96,30}</string>
            </dict>
            <key>creatRoomUI_txt_qidui.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,363},{87,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,30}}</string>
                <key>sourceSize</key>
                <string>{87,30}</string>
            </dict>
            <key>creatRoomUI_txt_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,402},{96,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,30}}</string>
                <key>sourceSize</key>
                <string>{96,30}</string>
            </dict>
            <key>creatRoomUI_txt_round_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,427},{57,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,30}}</string>
                <key>sourceSize</key>
                <string>{57,30}</string>
            </dict>
            <key>creatRoomUI_txt_round_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,427},{45,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,30}}</string>
                <key>sourceSize</key>
                <string>{45,30}</string>
            </dict>
            <key>creatRoomUI_txt_showip.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,468},{86,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,29}}</string>
                <key>sourceSize</key>
                <string>{86,29}</string>
            </dict>
            <key>createRoom_3people.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,459},{44,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,30}}</string>
                <key>sourceSize</key>
                <string>{44,30}</string>
            </dict>
            <key>createRoom_4people.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,395},{45,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,30}}</string>
                <key>sourceSize</key>
                <string>{45,30}</string>
            </dict>
            <key>createRoom_playerNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,444},{96,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,30}}</string>
                <key>sourceSize</key>
                <string>{96,30}</string>
            </dict>
            <key>createRoom_split.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{411,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,2}}</string>
                <key>sourceSize</key>
                <string>{411,2}</string>
            </dict>
            <key>createRoom_yxgz.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,2},{99,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,27}}</string>
                <key>sourceSize</key>
                <string>{99,27}</string>
            </dict>
            <key>list_base_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{522,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,77}}</string>
                <key>sourceSize</key>
                <string>{522,77}</string>
            </dict>
            <key>list_btn_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,115},{241,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{241,78}}</string>
                <key>sourceSize</key>
                <string>{243,78}</string>
            </dict>
            <key>list_btn_invite.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{79,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,70}}</string>
                <key>sourceSize</key>
                <string>{79,70}</string>
            </dict>
            <key>list_create_sucess_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{552,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,361}}</string>
                <key>sourceSize</key>
                <string>{552,361}</string>
            </dict>
            <key>list_enter_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,115},{243,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,78}}</string>
                <key>sourceSize</key>
                <string>{243,78}</string>
            </dict>
            <key>list_msg_success.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{219,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,41}}</string>
                <key>sourceSize</key>
                <string>{219,41}</string>
            </dict>
            <key>list_title_createroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,355},{144,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,39}}</string>
                <key>sourceSize</key>
                <string>{144,39}</string>
            </dict>
            <key>list_title_myroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,115},{144,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,39}}</string>
                <key>sourceSize</key>
                <string>{144,39}</string>
            </dict>
            <key>pageNum_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,358},{69,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,42}}</string>
                <key>sourceSize</key>
                <string>{69,42}</string>
            </dict>
            <key>tips_dimissroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,448},{161,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,44}}</string>
                <key>sourceSize</key>
                <string>{161,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_createRoom.png</string>
            <key>size</key>
            <string>{1022,499}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c65c9d9384baf5a802a2adfaa2387ca:1/1$</string>
            <key>textureFileName</key>
            <string>ui_createRoom.png</string>
        </dict>
    </dict>
</plist>
