<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>emoticonUI_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{527,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{527,372}}</string>
                <key>sourceSize</key>
                <string>{527,372}</string>
            </dict>
            <key>emoticonUI_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,241},{256,71}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,71}}</string>
                <key>sourceSize</key>
                <string>{256,81}</string>
            </dict>
            <key>emoticonUI_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,85},{256,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,81}}</string>
                <key>sourceSize</key>
                <string>{256,81}</string>
            </dict>
            <key>emoticonUI_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,168},{256,71}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,71}}</string>
                <key>sourceSize</key>
                <string>{256,81}</string>
            </dict>
            <key>emoticonUI_btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,2},{256,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,81}}</string>
                <key>sourceSize</key>
                <string>{256,81}</string>
            </dict>
            <key>emoticonUI_closeBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,256},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>emoticonUI_pillangey.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,308},{60,74}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{60,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoticonUI_pillarrogant.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,232},{60,74}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{60,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoticonUI_pillbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,2},{86,100}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{86,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoticonUI_pillcool.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,156},{60,74}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{60,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoticonUI_pillcry.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,80},{60,74}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{60,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoticonUI_pillcube.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,180},{60,74}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{60,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoticonUI_pillembarrass.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,104},{60,74}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{60,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoticonUI_pillfaint.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,314},{60,74}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{60,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoticonUI_pilllove.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,180},{60,74}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{60,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoticonUI_pillmoney.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,104},{60,74}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{60,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoticonUI_pillpitful.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,314},{60,74}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{60,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoticonUI_pillsad.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,314},{60,74}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{60,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoticonUI_pillthief.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,2},{62,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{62,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoticonUI_pillwhat.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,314},{60,74}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{60,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoticonUI_pillwhistle.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,314},{60,74}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{60,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_emoticon.png</string>
            <key>size</key>
            <string>{987,376}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca05950bee0cf532dd1a5352b84daca9$</string>
            <key>textureFileName</key>
            <string>ui_emoticon.png</string>
        </dict>
    </dict>
</plist>
