<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>XiaoJie_barBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,1469},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>XiaoJie_barBg_self.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,1417},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Zongjie_barBg_putong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{209,402}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{209,402}}</string>
                <key>sourceSize</key>
                <string>{217,406}</string>
            </dict>
            <key>Zongjie_barBg_winner.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{217,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,406}}</string>
                <key>sourceSize</key>
                <string>{217,406}</string>
            </dict>
            <key>bf_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,158},{26,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{26,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bf_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,110},{26,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{26,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>compass.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1192},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>compassbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,913},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>compassdong.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,890},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>compassnan.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,611},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>compassxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,588},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>disk_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,803},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,1472},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{38,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fh_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1470},{46,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{46,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>game_btn_backhall.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1385},{261,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,83}}</string>
                <key>sourceSize</key>
                <string>{261,83}</string>
            </dict>
            <key>game_btn_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1300},{261,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,83}}</string>
                <key>sourceSize</key>
                <string>{261,83}</string>
            </dict>
            <key>game_btn_invitepal.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{284,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,106}}</string>
                <key>sourceSize</key>
                <string>{284,106}</string>
            </dict>
            <key>game_btn_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1215},{261,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,83}}</string>
                <key>sourceSize</key>
                <string>{261,83}</string>
            </dict>
            <key>game_householder.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,1215},{32,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{32,53}}</string>
                <key>sourceSize</key>
                <string>{36,53}</string>
            </dict>
            <key>game_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,373},{88,118}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,5},{88,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>game_share_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{526,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{526,224}}</string>
                <key>sourceSize</key>
                <string>{528,224}</string>
            </dict>
            <key>game_share_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,162},{424,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,181}}</string>
                <key>sourceSize</key>
                <string>{424,181}</string>
            </dict>
            <key>game_tingpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1514},{140,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,41}}</string>
                <key>sourceSize</key>
                <string>{140,41}</string>
            </dict>
            <key>game_title_jiesuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1470},{200,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,106}}</string>
                <key>sourceSize</key>
                <string>{200,106}</string>
            </dict>
            <key>game_top_3player.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{530,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,81}}</string>
                <key>sourceSize</key>
                <string>{530,81}</string>
            </dict>
            <key>game_videoflag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1285},{350,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,163}}</string>
                <key>sourceSize</key>
                <string>{350,163}</string>
            </dict>
            <key>game_winner.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1450},{76,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,147}}</string>
                <key>sourceSize</key>
                <string>{76,147}</string>
            </dict>
            <key>game_zhama_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,463},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>game_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,1521},{66,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,20},{66,69}}</string>
                <key>sourceSize</key>
                <string>{116,109}</string>
            </dict>
            <key>ht_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1450},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{38,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ht_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1428},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{46,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>img_speakbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,110},{268,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{268,197}}</string>
                <key>sourceSize</key>
                <string>{268,199}</string>
            </dict>
            <key>msg.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1371},{55,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,46}}</string>
                <key>sourceSize</key>
                <string>{55,46}</string>
            </dict>
            <key>outroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,1361},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>player_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1205},{353,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,78}}</string>
                <key>sourceSize</key>
                <string>{353,78}</string>
            </dict>
            <key>qj_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,1623},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{38,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>qj_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1244},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{46,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>room2.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,64},{187,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,96}}</string>
                <key>sourceSize</key>
                <string>{187,96}</string>
            </dict>
            <key>rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,1305},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,1249},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>soundrecode_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,309},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>soundrecode_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,206},{32,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,26}}</string>
                <key>sourceSize</key>
                <string>{32,26}</string>
            </dict>
            <key>tile_pointer.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1205},{37,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,45}}</string>
                <key>sourceSize</key>
                <string>{37,45}</string>
            </dict>
            <key>ui_game_zmbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1334},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>ui_outline.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{724,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,0},{724,60}}</string>
                <key>sourceSize</key>
                <string>{1024,60}</string>
            </dict>
            <key>voice.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1450},{126,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,128}}</string>
                <key>sourceSize</key>
                <string>{126,128}</string>
            </dict>
            <key>zt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,1589},{32,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{32,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1292},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{40,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_game.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02b7d1d4a2020d454adb87ab379b4fbe:1/1$</string>
            <key>textureFileName</key>
            <string>ui_game.png</string>
        </dict>
    </dict>
</plist>
