<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loginUI_checkboxBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,300},{55,58}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{55,58}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>loginUI_checkmark.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,342},{55,60}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{55,60}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>loginUI_declaration.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{418,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,399}}</string>
                <key>sourceSize</key>
                <string>{418,399}</string>
            </dict>
            <key>loginUI_progressBarBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,342},{204,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,30}}</string>
                <key>sourceSize</key>
                <string>{204,30}</string>
            </dict>
            <key>loginUI_progressBarHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,374},{202,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,24}}</string>
                <key>sourceSize</key>
                <string>{202,24}</string>
            </dict>
            <key>loginUI_startBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{306,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,96}}</string>
                <key>sourceSize</key>
                <string>{306,96}</string>
            </dict>
            <key>loginUI_startBtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{296,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{296,94}}</string>
                <key>sourceSize</key>
                <string>{306,96}</string>
            </dict>
            <key>loginUI_startBtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{306,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,96}}</string>
                <key>sourceSize</key>
                <string>{306,96}</string>
            </dict>
            <key>loginUI_txt_agreement.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,310},{256,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,30}}</string>
                <key>sourceSize</key>
                <string>{256,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_login.png</string>
            <key>size</key>
            <string>{747,403}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bbfbc965d45bed8abe0f5b6dd8ee9f0:1/1$</string>
            <key>textureFileName</key>
            <string>ui_login.png</string>
        </dict>
    </dict>
</plist>
