<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tileBack_left_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,80},{25,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{25,61}}</string>
                <key>sourceSize</key>
                <string>{27,61}</string>
            </dict>
            <key>tileBack_right_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,66},{24,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,61}}</string>
                <key>sourceSize</key>
                <string>{28,61}</string>
            </dict>
            <key>tileBack_up_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1751,70},{40,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,59}}</string>
                <key>sourceSize</key>
                <string>{40,59}</string>
            </dict>
            <key>tileBaseFinish_me_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,2},{75,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,111}}</string>
                <key>sourceSize</key>
                <string>{77,111}</string>
            </dict>
            <key>tileBase_leftRight_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1921,55},{50,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,47}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>tileBase_me_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{75,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,111}}</string>
                <key>sourceSize</key>
                <string>{77,111}</string>
            </dict>
            <key>tileDown_me_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,2},{75,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,111}}</string>
                <key>sourceSize</key>
                <string>{77,111}</string>
            </dict>
            <key>tileUpSet_leftRight_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,2},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,46}</string>
            </dict>
            <key>tile_dealMeUp_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,2},{73,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{73,139}}</string>
                <key>sourceSize</key>
                <string>{89,139}</string>
            </dict>
            <key>tile_leftRight_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,76},{35,25}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{35,25}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>tile_leftRight_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,80},{37,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{37,27}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>tile_leftRight_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1719,74},{35,7}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,13},{35,7}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>tile_leftRight_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,76},{35,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{35,23}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>tile_leftRight_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,74},{35,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{35,19}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>tile_leftRight_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,76},{35,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{35,21}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>tile_leftRight_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,76},{35,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{35,21}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>tile_leftRight_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,76},{35,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{35,21}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>tile_leftRight_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,76},{35,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{35,21}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>tile_leftRight_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1525,74},{37,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{37,21}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>tile_leftRight_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,74},{37,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{37,25}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>tile_leftRight_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,66},{25,23}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{25,23}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>tile_leftRight_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,80},{31,15}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{31,15}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>tile_leftRight_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,82},{31,29}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{31,29}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>tile_leftRight_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,80},{31,23}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{31,23}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>tile_leftRight_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,80},{31,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{31,23}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>tile_leftRight_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1677,74},{35,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{35,19}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>tile_leftRight_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,78},{37,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{37,25}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>tile_leftRight_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,74},{37,19}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{37,19}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>tile_leftRight_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,80},{35,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{35,27}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>tile_leftRight_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,78},{39,25}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{39,25}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>tile_leftRight_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,78},{39,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{39,25}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>tile_leftRight_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,78},{37,25}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{37,25}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>tile_leftRight_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,78},{37,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{37,25}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>tile_leftRight_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,79},{39,25}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{39,25}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>tile_leftRight_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,79},{39,25}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{39,25}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>tile_leftRight_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,78},{37,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{37,25}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>tile_leftRight_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,79},{39,25}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{39,25}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>tile_meUp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,79},{25,32}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{25,32}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>tile_meUp_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,80},{27,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{27,36}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>tile_meUp_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,79},{7,32}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{7,32}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>tile_meUp_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,79},{23,32}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{23,32}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>tile_meUp_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,79},{19,32}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{19,32}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>tile_meUp_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,79},{21,32}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{21,32}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>tile_meUp_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,79},{21,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{21,32}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>tile_meUp_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,79},{21,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{21,32}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>tile_meUp_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,79},{21,32}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{21,32}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>tile_meUp_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,74},{21,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{21,34}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>tile_meUp_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,77},{25,34}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{25,34}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>tile_meUp_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,54},{23,24}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{23,24}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>tile_meUp_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,82},{15,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{15,28}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>tile_meUp_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,82},{29,28}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{29,28}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>tile_meUp_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,82},{23,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{23,28}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>tile_meUp_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,82},{23,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{23,28}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>tile_meUp_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,79},{19,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{19,32}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>tile_meUp_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,77},{25,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{25,34}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>tile_meUp_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,66},{19,34}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{19,34}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>tile_meUp_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,82},{29,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{29,32}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>tile_meUp_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,74},{25,36}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{25,36}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>tile_meUp_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,78},{25,39}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{25,39}}</string>
                <key>sourceSize</key>
                <string>{35,43}</string>
            </dict>
            <key>tile_meUp_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,77},{25,34}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{25,34}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>tile_meUp_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,77},{25,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{25,34}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>tile_meUp_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,74},{25,36}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{25,36}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>tile_meUp_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,74},{25,36}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{25,36}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>tile_meUp_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,77},{25,34}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{25,34}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>tile_meUp_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,74},{25,36}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{25,36}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>tile_me_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1481,2},{49,70}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{49,70}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>tile_me_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{57,76}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{57,76}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>tile_me_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,2},{15,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{15,70}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>tile_me_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,2},{47,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{47,70}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>tile_me_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1675,2},{39,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{39,70}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>tile_me_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,2},{45,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{45,70}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>tile_me_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,2},{45,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{45,72}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>tile_me_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,2},{43,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{43,72}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>tile_me_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,2},{45,70}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{45,70}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>tile_me_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,2},{45,74}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{45,74}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>tile_me_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,2},{49,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{49,74}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>tile_me_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,2},{51,50}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,14},{51,50}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>tile_me_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,78},{33,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{33,66}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>tile_me_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1733,2},{61,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{61,66}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>tile_me_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1847,2},{49,62}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{49,62}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>tile_me_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,2},{49,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{49,62}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>tile_me_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,2},{41,72}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{41,72}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>tile_me_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{53,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{53,76}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>tile_me_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,2},{41,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{41,74}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>tile_me_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{57,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{57,74}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>tile_me_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,2},{49,76}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{49,76}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>tile_me_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{47,76}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{47,76}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>tile_me_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,2},{49,74}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{49,74}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>tile_me_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{49,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{49,74}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>tile_me_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{49,78}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{49,78}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>tile_me_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{49,78}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{49,78}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>tile_me_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,2},{49,74}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{49,74}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>tile_me_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{49,78}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{49,78}}</string>
                <key>sourceSize</key>
                <string>{73,82}</string>
            </dict>
            <key>tile_tileLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{109,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,142}}</string>
                <key>sourceSize</key>
                <string>{109,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_mahjong.png</string>
            <key>size</key>
            <string>{1998,113}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40d84dbf7d342e70c90ef7aa17fc9ca0:1/1$</string>
            <key>textureFileName</key>
            <string>ui_mahjong.png</string>
        </dict>
    </dict>
</plist>
