<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>roomUI_creatRoomBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,934},{512,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,160}}</string>
                <key>sourceSize</key>
                <string>{512,160}</string>
            </dict>
            <key>roomUI_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{930,494}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{930,494}}</string>
                <key>sourceSize</key>
                <string>{930,494}</string>
            </dict>
            <key>roomUI_image1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1636},{512,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,247}}</string>
                <key>sourceSize</key>
                <string>{512,247}</string>
            </dict>
            <key>roomUI_image2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,934},{700,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,295}}</string>
                <key>sourceSize</key>
                <string>{700,295}</string>
            </dict>
            <key>roomUI_joinRoomBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1885},{512,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,160}}</string>
                <key>sourceSize</key>
                <string>{512,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_room.png</string>
            <key>size</key>
            <string>{516,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e348d231b20e19f414ca96f63a243e1$</string>
            <key>textureFileName</key>
            <string>ui_room.png</string>
        </dict>
    </dict>
</plist>
