<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>setUI_applyToDissolveRoomBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{330,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,82}}</string>
                <key>sourceSize</key>
                <string>{330,82}</string>
            </dict>
            <key>setUI_dissolveRoomBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{285,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,82}}</string>
                <key>sourceSize</key>
                <string>{285,82}</string>
            </dict>
            <key>setUI_exitRoomBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,2},{283,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,80}}</string>
                <key>sourceSize</key>
                <string>{283,80}</string>
            </dict>
            <key>setUI_progressBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,86},{204,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,36}}</string>
                <key>sourceSize</key>
                <string>{204,36}</string>
            </dict>
            <key>setUI_progressHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,86},{202,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{202,28}}</string>
                <key>sourceSize</key>
                <string>{204,36}</string>
            </dict>
            <key>setUI_soundbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,84},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>setUI_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,66}}</string>
                <key>sourceSize</key>
                <string>{124,66}</string>
            </dict>
            <key>setUI_txt_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,86},{49,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,27}}</string>
                <key>sourceSize</key>
                <string>{49,27}</string>
            </dict>
            <key>setUI_txt_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,86},{50,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,26}}</string>
                <key>sourceSize</key>
                <string>{50,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_set.png</string>
            <key>size</key>
            <string>{974,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98e0d65cceb307eac977b852b5cc7e8e:1/1$</string>
            <key>textureFileName</key>
            <string>ui_set.png</string>
        </dict>
    </dict>
</plist>
