<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Manager/Activity/ActivityAnimate/cj_wawa/001.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,549},{333,520}}</string>
				<key>offset</key>
				<string>{-1,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{344,542}</string>
			</dict>
			<key>Manager/Activity/ActivityAnimate/cj_wawa/002.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{343,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{344,542}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>file.png</string>
			<key>realTextureFileName</key>
			<string>file.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>