<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image2/common/huqidui.png</key>
			<dict>
				<key>frame</key>
				<string>{{1813,320},{103,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,38}</string>
			</dict>
			<key>image2/common/kepangguan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1724,388},{103,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,38}</string>
			</dict>
			<key>image2/common/qita.png</key>
			<dict>
				<key>frame</key>
				<string>{{1680,374},{110,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,38}</string>
			</dict>
			<key>image2/common/miluohongzhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1726,250},{132,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,38}</string>
			</dict>
			<key>image2/common/wanfa.png</key>
			<dict>
				<key>frame</key>
				<string>{{1770,250},{110,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,37}</string>
			</dict>
			<key>image2/common/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1824,62},{252,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,28}</string>
			</dict>
			<key>image2/common/LouHuBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1858,78},{205,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{205,56}</string>
			</dict>
			<key>image2/common/bg0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,78},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>image2/common/bg0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,184},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>image2/common/bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1911,290},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>image2/common/bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1911,396},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>image2/common/bg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1768,429},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>image2/common/btn_cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{1861,3},{182,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,69}</string>
			</dict>
			<key>image2/common/btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1632,137},{90,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,91}</string>
			</dict>
			<key>image2/common/btn_jiage.png</key>
			<dict>
				<key>frame</key>
				<string>{{1561,62},{182,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,69}</string>
			</dict>
			<key>image2/common/btn_sure.png</key>
			<dict>
				<key>frame</key>
				<string>{{1749,62},{182,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,69}</string>
			</dict>
			<key>image2/common/btn_yaoqing_yixin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1427,137},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>image2/common/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{1427,3},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>image2/common/title_hongz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1680,233},{135,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,40}</string>
			</dict>
			<key>image2/common/title_wenxin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1632,233},{151,42}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{259,63}</string>
			</dict>
			<key>image2/common/title_xingxi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1858,289},{175,47}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{259,63}</string>
			</dict>
			<key>image2/common/title1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1561,3},{294,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,53}</string>
			</dict>
			<key>image2/common/top.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{1024,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1024,91}</string>
			</dict>
			<key>image2/common/img_qian.png</key>
			<dict>
				<key>frame</key>
				<string>{{2017,351},{22,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,23}</string>
			</dict>
			<key>image2/common/img_zengsong.png</key>
			<dict>
				<key>frame</key>
				<string>{{2017,290},{55,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,20}</string>
			</dict>
			<key>image2/common/sharetypebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1033,3},{388,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{388,184}</string>
			</dict>
			<key>image2/common/ddshare.png</key>
			<dict>
				<key>frame</key>
				<string>{{1530,137},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{2048,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>